In [51]:
import numpy as np
import pandas as pd

In [52]:
url='datasets/data_100000.csv'
df_origin = pd.read_csv(url, sep=',')
#make a copy
df =df_origin.copy()
pd.set_option('display.max_columns', None)
df.head()
df.shape

(100000, 29)

In [53]:
df.info() #100000 x 29 columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 29 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   crash_date                     100000 non-null  object
 1   crash_time                     100000 non-null  object
 2   borough                        64974 non-null   object
 3   zip_code                       64966 non-null   float64
 4   latitude                       91965 non-null   float64
 5   longitude                      91965 non-null   float64
 6   location                       91965 non-null   object
 7   on_street_name                 73991 non-null   object
 8   off_street_name                47125 non-null   object
 9   cross_street_name              25967 non-null   object
 10  number_of_persons_injured      100000 non-null  int64
 11  number_of_persons_killed       100000 non-null  int64
 12  number_of_pedestrians_injured  100000 non-null  int64
 13  number_of_pedestrians_killed   100000 non-null  int64
 14  number_of_cyclist_injured      100000 non-null  int64
 15  number_of_cyclist_killed       100000 non-null  int64
 16  number_of_motorist_injured     100000 non-null  int64
 17  number_of_motorist_killed      100000 non-null  int64
 18  contributing_factor_vehicle_1  99629 non-null   object
 19  contributing_factor_vehicle_2  80757 non-null   object
 20  contributing_factor_vehicle_3  8761 non-null    object
 21  contributing_factor_vehicle_4  2240 non-null    object
 22  contributing_factor_vehicle_5  667 non-null     object
 23  collision_id                   100000 non-null  int64
 24  vehicle_type_code1             99260 non-null   object
 25  vehicle_type_code2             73411 non-null   object
 26  vehicle_type_code_3            8329 non-null    object
 27  vehicle_type_code_4            2147 non-null    object
 28  vehicle_type_code_5            646 non-null     object
dtypes: float64(3), int64(9), object(17)
memory usage: 22.1+ MB

In [54]:
#STEP 1: Checking missing values ("" or null),

#total_na_values = df.isna().sum().sum()
#print(total_na_values)# 871235
#Sum of na values
print(f'Sum of na values by columns: \n{df.isna().sum()} \n')

Sum of na values by columns:
crash_date                           0
crash_time                           0
borough                          35026
zip_code                         35034
latitude                          8035
longitude                         8035
location                          8035
on_street_name                   26009
off_street_name                  52875
cross_street_name                74033
number_of_persons_injured            0
number_of_persons_killed             0
number_of_pedestrians_injured        0
number_of_pedestrians_killed         0
number_of_cyclist_injured            0
number_of_cyclist_killed             0
number_of_motorist_injured           0
number_of_motorist_killed            0
contributing_factor_vehicle_1      371
contributing_factor_vehicle_2    19243
contributing_factor_vehicle_3    91239
contributing_factor_vehicle_4    97760
contributing_factor_vehicle_5    99333
collision_id                         0
vehicle_type_code1                 740
vehicle_type_code2               26589
vehicle_type_code_3              91671
vehicle_type_code_4              97853
vehicle_type_code_5              99354
dtype: int64

In [55]:
'''depend on this result: proposition to delete the colums (>90 % with non values):
 columns_to_delete = ['contributing_factor_vehicle_3',
                        'contributing_factor_vehicle_4',
                        'contributing_factor_vehicle_5',
                        'vehicle_type_code_3',
                        'vehicle_type_code_4',
                        'cross_street_name', # > 74%
                        'vehicle_type_code_5']
'''
#drop columns 
df.drop(columns=['contributing_factor_vehicle_3',
                'contributing_factor_vehicle_4',
                'contributing_factor_vehicle_5',
                'vehicle_type_code_3',
                'vehicle_type_code_4',
                'cross_street_name',
                'vehicle_type_code_5',
                'location'],
                inplace=True)
df.head(2)

,crash_date,crash_time,borough,zip_code,latitude,longitude,on_street_name,off_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,collision_id,vehicle_type_code1,vehicle_type_code2
0,2017-04-18T00:00:00.000,23:10,STATEN ISLAND,10312.0,40.536728,-74.193344,NaN,NaN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,3654181,Station Wagon/Sport Utility Vehicle,NaN
1,2017-05-06T00:00:00.000,13:00,BRONX,10472.0,40.829052,-73.850380,CASTLE HILL AVENUE,BLACKROCK AVENUE,1,0,1,0,0,0,0,0,Failure to Yield Right-of-Way,NaN,3665311,Sedan,NaN

In [56]:
#STEP2 : Drop rows witn 'all' na
#df=df.dropna()
df = df.dropna(how='all')
df.shape

(100000, 21)

In [57]:
#STEP3 : Drop duplicates
# a. Check for unique of data (cols)
df.duplicated()
print("Number Of Rows In The Original DataFrame:", len(df))
print("Number Of Rows After Deduping:", len(df.drop_duplicates()))

#No duplicates

Number Of Rows In The Original DataFrame: 100000
Number Of Rows After Deduping: 100000

In [58]:
# b. I observe that "collision_id" shoul be unique
# sorting by collision_id
df.sort_values("collision_id", inplace = True)
 
# dropping ALL duplicate values in "collision_id"
df.drop_duplicates(subset ="collision_id",
                     keep = False, inplace = True)
# displaying data
df.shape

(100000, 21)

In [59]:
# c. Observe values in each column (unique):
get_column_names = df.columns
for i in range(len(get_column_names)):    
    print(f'---Count values unique from column * {df.columns[i]} * ---: \n {df[df.columns[i]].unique()} \n')

---Count values unique from column * crash_date * ---:
 ['2013-05-05T00:00:00.000' '2013-04-19T00:00:00.000'
 '2013-04-24T00:00:00.000' '2013-04-29T00:00:00.000'
 '2013-04-10T00:00:00.000' '2013-10-15T00:00:00.000'
 '2013-04-13T00:00:00.000' '2013-04-16T00:00:00.000'
 '2013-04-21T00:00:00.000' '2014-10-17T00:00:00.000'
 '2013-04-23T00:00:00.000' '2013-03-23T00:00:00.000'
 '2013-03-24T00:00:00.000' '2013-04-14T00:00:00.000'
 '2013-04-22T00:00:00.000' '2013-05-04T00:00:00.000'
 '2015-04-20T00:00:00.000' '2015-04-22T00:00:00.000'
 '2015-04-27T00:00:00.000' '2015-05-06T00:00:00.000'
 '2015-05-15T00:00:00.000' '2015-05-16T00:00:00.000'
 '2015-05-21T00:00:00.000' '2015-06-01T00:00:00.000'
 '2015-06-09T00:00:00.000' '2015-06-17T00:00:00.000'
 '2015-06-18T00:00:00.000' '2015-06-22T00:00:00.000'
 '2015-06-23T00:00:00.000' '2015-06-24T00:00:00.000'
 '2015-06-25T00:00:00.000' '2015-06-26T00:00:00.000'
 '2015-06-27T00:00:00.000' '2015-06-30T00:00:00.000'
 '2015-07-02T00:00:00.000' '2015-07-01T00:00:00.000'
 '2015-07-03T00:00:00.000' '2015-07-23T00:00:00.000'
 '2015-07-25T00:00:00.000' '2015-07-31T00:00:00.000'
 '2015-08-03T00:00:00.000' '2015-11-18T00:00:00.000'
 '2015-11-21T00:00:00.000' '2015-11-24T00:00:00.000'
 '2015-11-27T00:00:00.000' '2015-11-28T00:00:00.000'
 '2015-12-01T00:00:00.000' '2015-11-30T00:00:00.000'
 '2015-12-05T00:00:00.000' '2015-12-08T00:00:00.000'
 '2015-12-06T00:00:00.000' '2015-12-09T00:00:00.000'
 '2015-12-12T00:00:00.000' '2017-04-14T00:00:00.000'
 '2017-04-15T00:00:00.000' '2017-04-16T00:00:00.000'
 '2017-04-17T00:00:00.000' '2017-04-18T00:00:00.000'
 '2017-04-19T00:00:00.000' '2017-04-20T00:00:00.000'
 '2017-04-21T00:00:00.000' '2017-04-22T00:00:00.000'
 '2017-04-23T00:00:00.000' '2017-04-24T00:00:00.000'
 '2017-04-25T00:00:00.000' '2017-04-26T00:00:00.000'
 '2017-04-27T00:00:00.000' '2017-04-28T00:00:00.000'
 '2017-04-29T00:00:00.000' '2017-04-30T00:00:00.000'
 '2017-05-01T00:00:00.000' '2017-05-02T00:00:00.000'
 '2017-05-03T00:00:00.000' '2017-05-04T00:00:00.000'
 '2017-05-05T00:00:00.000' '2017-05-06T00:00:00.000'
 '2017-05-07T00:00:00.000' '2017-05-08T00:00:00.000'
 '2017-05-09T00:00:00.000' '2017-05-10T00:00:00.000'
 '2017-06-09T00:00:00.000' '2017-06-26T00:00:00.000'
 '2017-06-27T00:00:00.000' '2017-06-29T00:00:00.000'
 '2017-06-28T00:00:00.000' '2017-07-08T00:00:00.000'
 '2017-07-09T00:00:00.000' '2017-07-10T00:00:00.000'
 '2017-07-12T00:00:00.000' '2017-07-13T00:00:00.000'
 '2017-07-05T00:00:00.000' '2017-07-16T00:00:00.000'
 '2017-07-14T00:00:00.000' '2017-07-18T00:00:00.000'
 '2017-09-03T00:00:00.000' '2017-09-02T00:00:00.000'
 '2017-09-04T00:00:00.000' '2017-09-05T00:00:00.000'
 '2017-09-06T00:00:00.000' '2017-09-07T00:00:00.000'
 '2017-09-08T00:00:00.000' '2017-09-10T00:00:00.000'
 '2017-09-09T00:00:00.000' '2017-09-11T00:00:00.000'
 '2017-09-12T00:00:00.000' '2018-02-07T00:00:00.000'
 '2018-02-08T00:00:00.000' '2018-02-10T00:00:00.000'
 '2018-02-11T00:00:00.000' '2018-02-09T00:00:00.000'
 '2018-02-12T00:00:00.000' '2018-02-13T00:00:00.000'
 '2018-02-14T00:00:00.000' '2018-02-15T00:00:00.000'
 '2018-02-16T00:00:00.000' '2018-02-17T00:00:00.000'
 '2018-02-19T00:00:00.000' '2018-02-18T00:00:00.000'
 '2018-02-20T00:00:00.000' '2018-02-21T00:00:00.000'
 '2018-02-23T00:00:00.000' '2018-02-25T00:00:00.000'
 '2018-02-24T00:00:00.000' '2018-02-27T00:00:00.000'
 '2018-02-28T00:00:00.000' '2018-03-03T00:00:00.000'
 '2018-03-07T00:00:00.000' '2018-03-08T00:00:00.000'
 '2018-03-09T00:00:00.000' '2018-03-14T00:00:00.000'
 '2018-03-12T00:00:00.000' '2018-03-15T00:00:00.000'
 '2018-03-16T00:00:00.000' '2018-03-17T00:00:00.000'
 '2018-03-19T00:00:00.000' '2018-04-19T00:00:00.000'
 '2018-04-18T00:00:00.000' '2018-04-27T00:00:00.000'
 '2018-05-07T00:00:00.000' '2018-05-08T00:00:00.000'
 '2018-05-13T00:00:00.000' '2018-05-15T00:00:00.000'
 '2018-05-16T00:00:00.000' '2018-05-20T00:00:00.000'
 '2018-05-24T00:00:00.000' '2018-05-25T00:00:00.000'
 '2018-05-28T00:00:00.000' '2018-05-29T00:00:00.000'
 '2018-06-02T00:00:00.000' '2018-06-04T00:00:00.000'
 '2018-06-05T00:00:00.000' '2018-06-06T00:00:00.000'
 '2018-07-15T00:00:00.000' '2018-07-14T00:00:00.000'
 '2018-07-16T00:00:00.000' '2018-07-17T00:00:00.000'
 '2018-07-18T00:00:00.000' '2018-07-19T00:00:00.000'
 '2018-07-20T00:00:00.000' '2018-07-22T00:00:00.000'
 '2018-07-23T00:00:00.000' '2018-07-21T00:00:00.000'
 '2019-08-21T00:00:00.000' '2019-11-21T00:00:00.000'
 '2019-06-16T00:00:00.000' '2019-06-15T00:00:00.000'
 '2019-06-17T00:00:00.000' '2019-06-18T00:00:00.000'
 '2019-06-19T00:00:00.000' '2019-06-20T00:00:00.000'
 '2019-06-21T00:00:00.000' '2019-06-22T00:00:00.000'
 '2019-06-23T00:00:00.000' '2019-06-24T00:00:00.000'
 '2019-06-25T00:00:00.000' '2019-06-26T00:00:00.000'
 '2019-06-27T00:00:00.000' '2019-06-28T00:00:00.000'
 '2019-06-29T00:00:00.000' '2019-06-30T00:00:00.000'
 '2019-07-01T00:00:00.000' '2019-07-02T00:00:00.000'
 '2019-07-03T00:00:00.000' '2019-07-04T00:00:00.000'
 '2019-07-05T00:00:00.000' '2019-07-06T00:00:00.000'
 '2019-07-07T00:00:00.000' '2019-07-08T00:00:00.000'
 '2019-07-09T00:00:00.000' '2019-07-10T00:00:00.000'
 '2019-07-11T00:00:00.000' '2019-07-12T00:00:00.000'
 '2019-07-13T00:00:00.000' '2019-07-14T00:00:00.000'
 '2019-07-15T00:00:00.000' '2019-07-16T00:00:00.000'
 '2019-07-17T00:00:00.000' '2019-07-18T00:00:00.000'
 '2019-07-19T00:00:00.000' '2019-07-20T00:00:00.000'
 '2019-07-21T00:00:00.000' '2019-07-22T00:00:00.000'
 '2019-07-23T00:00:00.000' '2019-07-24T00:00:00.000'
 '2019-07-25T00:00:00.000' '2019-07-26T00:00:00.000'
 '2019-07-27T00:00:00.000' '2019-07-28T00:00:00.000'
 '2019-07-29T00:00:00.000' '2019-07-30T00:00:00.000'
 '2019-07-31T00:00:00.000' '2019-08-01T00:00:00.000'
 '2019-08-02T00:00:00.000' '2019-08-03T00:00:00.000'
 '2019-08-04T00:00:00.000' '2019-08-05T00:00:00.000'
 '2019-08-06T00:00:00.000' '2019-08-07T00:00:00.000'
 '2019-08-08T00:00:00.000' '2019-08-09T00:00:00.000'
 '2019-08-10T00:00:00.000' '2019-08-11T00:00:00.000'
 '2019-08-12T00:00:00.000' '2019-08-13T00:00:00.000'
 '2019-08-14T00:00:00.000' '2019-08-15T00:00:00.000'
 '2019-08-16T00:00:00.000' '2019-08-17T00:00:00.000'
 '2019-08-18T00:00:00.000' '2019-08-19T00:00:00.000'
 '2019-08-20T00:00:00.000' '2019-08-22T00:00:00.000'
 '2019-08-23T00:00:00.000' '2019-08-24T00:00:00.000'
 '2019-08-25T00:00:00.000' '2019-08-26T00:00:00.000'
 '2019-08-27T00:00:00.000' '2019-08-28T00:00:00.000'
 '2019-08-29T00:00:00.000' '2019-08-30T00:00:00.000'
 '2019-08-31T00:00:00.000' '2019-09-01T00:00:00.000'
 '2019-09-02T00:00:00.000' '2019-09-03T00:00:00.000'
 '2019-09-04T00:00:00.000' '2019-09-05T00:00:00.000'
 '2019-09-06T00:00:00.000' '2019-09-07T00:00:00.000'
 '2019-09-08T00:00:00.000' '2019-09-09T00:00:00.000'
 '2019-09-10T00:00:00.000' '2019-09-11T00:00:00.000'
 '2019-09-12T00:00:00.000' '2019-09-13T00:00:00.000'
 '2019-09-14T00:00:00.000' '2019-09-15T00:00:00.000'
 '2019-09-16T00:00:00.000' '2019-09-17T00:00:00.000'
 '2019-09-18T00:00:00.000' '2019-09-19T00:00:00.000'
 '2019-09-21T00:00:00.000' '2019-09-20T00:00:00.000'
 '2019-09-22T00:00:00.000' '2019-09-23T00:00:00.000'
 '2019-09-24T00:00:00.000' '2019-09-25T00:00:00.000'
 '2019-09-26T00:00:00.000' '2019-09-27T00:00:00.000'
 '2019-09-28T00:00:00.000' '2019-09-29T00:00:00.000'
 '2019-10-01T00:00:00.000' '2019-09-30T00:00:00.000'
 '2019-10-02T00:00:00.000' '2019-10-03T00:00:00.000'
 '2019-10-04T00:00:00.000' '2019-10-05T00:00:00.000'
 '2019-10-06T00:00:00.000' '2019-10-07T00:00:00.000'
 '2019-10-08T00:00:00.000' '2019-10-10T00:00:00.000'
 '2019-10-09T00:00:00.000' '2019-10-11T00:00:00.000'
 '2019-10-12T00:00:00.000' '2019-10-13T00:00:00.000'
 '2019-10-14T00:00:00.000' '2019-10-15T00:00:00.000'
 '2019-10-17T00:00:00.000' '2019-10-18T00:00:00.000'
 '2019-10-16T00:00:00.000' '2019-10-19T00:00:00.000'
 '2019-10-20T00:00:00.000' '2019-10-21T00:00:00.000'
 '2019-10-22T00:00:00.000' '2019-10-23T00:00:00.000'
 '2019-10-24T00:00:00.000' '2019-10-25T00:00:00.000'
 '2019-10-27T00:00:00.000' '2019-10-28T00:00:00.000'
 '2019-10-29T00:00:00.000' '2019-10-26T00:00:00.000'
 '2019-10-30T00:00:00.000' '2019-10-31T00:00:00.000'
 '2019-11-01T00:00:00.000' '2019-11-03T00:00:00.000'
 '2019-11-02T00:00:00.000' '2019-11-04T00:00:00.000'
 '2019-11-05T00:00:00.000' '2019-11-06T00:00:00.000'
 '2019-11-07T00:00:00.000' '2019-11-08T00:00:00.000'
 '2019-11-09T00:00:00.000' '2019-11-10T00:00:00.000'
 '2019-11-11T00:00:00.000' '2019-11-12T00:00:00.000'
 '2019-11-13T00:00:00.000' '2019-11-14T00:00:00.000'
 '2019-11-15T00:00:00.000' '2019-11-16T00:00:00.000'
 '2019-11-17T00:00:00.000' '2019-11-18T00:00:00.000'
 '2019-11-19T00:00:00.000' '2019-11-20T00:00:00.000'
 '2019-11-22T00:00:00.000' '2019-11-23T00:00:00.000'
 '2019-11-24T00:00:00.000' '2019-11-25T00:00:00.000'
 '2019-11-26T00:00:00.000' '2019-11-27T00:00:00.000'
 '2019-11-28T00:00:00.000' '2019-11-29T00:00:00.000'
 '2019-11-30T00:00:00.000' '2019-12-01T00:00:00.000'
 '2019-12-02T00:00:00.000' '2019-12-03T00:00:00.000'
 '2019-12-04T00:00:00.000' '2020-06-13T00:00:00.000'
 '2020-02-20T00:00:00.000' '2020-02-19T00:00:00.000'
 '2020-02-22T00:00:00.000' '2020-02-21T00:00:00.000'
 '2020-02-24T00:00:00.000' '2020-02-25T00:00:00.000'
 '2020-03-02T00:00:00.000' '2020-02-27T00:00:00.000'
 '2020-03-04T00:00:00.000' '2020-03-05T00:00:00.000'
 '2020-03-10T00:00:00.000' '2020-03-08T00:00:00.000'
 '2020-03-09T00:00:00.000' '2020-03-14T00:00:00.000'
 '2020-03-15T00:00:00.000' '2020-03-13T00:00:00.000'
 '2020-03-16T00:00:00.000' '2020-03-17T00:00:00.000'
 '2020-03-18T00:00:00.000' '2020-03-06T00:00:00.000'
 '2020-03-19T00:00:00.000' '2020-03-20T00:00:00.000'
 '2020-03-21T00:00:00.000' '2020-03-22T00:00:00.000'
 '2020-03-23T00:00:00.000' '2020-03-24T00:00:00.000'
 '2020-03-25T00:00:00.000' '2020-03-26T00:00:00.000'
 '2020-03-27T00:00:00.000' '2020-03-28T00:00:00.000'
 '2020-03-29T00:00:00.000' '2020-03-30T00:00:00.000'
 '2020-03-31T00:00:00.000' '2020-04-01T00:00:00.000'
 '2020-04-02T00:00:00.000' '2020-03-07T00:00:00.000'
 '2020-04-03T00:00:00.000' '2020-04-04T00:00:00.000'
 '2020-04-05T00:00:00.000' '2020-04-06T00:00:00.000'
 '2020-04-07T00:00:00.000' '2020-04-08T00:00:00.000'
 '2020-04-09T00:00:00.000' '2020-04-10T00:00:00.000'
 '2020-04-11T00:00:00.000' '2020-04-12T00:00:00.000'
 '2020-04-13T00:00:00.000' '2020-04-14T00:00:00.000'
 '2020-04-15T00:00:00.000' '2020-04-16T00:00:00.000'
 '2020-04-17T00:00:00.000' '2020-04-18T00:00:00.000'
 '2020-04-19T00:00:00.000' '2020-04-20T00:00:00.000'
 '2020-04-21T00:00:00.000' '2020-04-22T00:00:00.000'
 '2020-04-23T00:00:00.000' '2020-04-24T00:00:00.000'
 '2020-04-25T00:00:00.000' '2020-04-26T00:00:00.000'
 '2020-04-27T00:00:00.000' '2020-04-28T00:00:00.000'
 '2020-04-29T00:00:00.000' '2020-04-30T00:00:00.000'
 '2020-05-01T00:00:00.000' '2020-05-02T00:00:00.000'
 '2020-05-03T00:00:00.000' '2020-05-04T00:00:00.000'
 '2020-05-05T00:00:00.000' '2020-05-06T00:00:00.000'
 '2020-05-07T00:00:00.000' '2020-05-08T00:00:00.000'
 '2020-05-09T00:00:00.000' '2020-05-10T00:00:00.000'
 '2020-05-11T00:00:00.000' '2020-05-12T00:00:00.000'
 '2020-05-13T00:00:00.000' '2020-05-14T00:00:00.000'
 '2020-05-15T00:00:00.000' '2020-05-16T00:00:00.000'
 '2020-05-17T00:00:00.000' '2020-05-18T00:00:00.000'
 '2020-05-19T00:00:00.000' '2020-05-20T00:00:00.000'
 '2020-05-21T00:00:00.000' '2020-05-22T00:00:00.000'
 '2020-05-23T00:00:00.000' '2020-05-24T00:00:00.000'
 '2020-05-25T00:00:00.000' '2020-05-26T00:00:00.000'
 '2020-05-27T00:00:00.000' '2020-05-28T00:00:00.000'
 '2020-05-29T00:00:00.000' '2020-05-30T00:00:00.000'
 '2020-05-31T00:00:00.000' '2020-06-01T00:00:00.000'
 '2020-06-02T00:00:00.000' '2020-06-03T00:00:00.000'
 '2020-06-04T00:00:00.000' '2020-06-05T00:00:00.000'
 '2020-06-06T00:00:00.000' '2020-06-07T00:00:00.000'
 '2020-06-08T00:00:00.000' '2020-06-09T00:00:00.000'
 '2020-06-10T00:00:00.000' '2020-06-11T00:00:00.000'
 '2020-06-12T00:00:00.000' '2020-06-14T00:00:00.000'
 '2020-06-15T00:00:00.000' '2020-06-16T00:00:00.000'
 '2020-06-17T00:00:00.000' '2020-06-18T00:00:00.000'
 '2020-06-19T00:00:00.000' '2020-06-20T00:00:00.000'
 '2020-06-21T00:00:00.000' '2020-06-22T00:00:00.000'
 '2020-06-23T00:00:00.000' '2020-06-24T00:00:00.000'
 '2020-06-25T00:00:00.000' '2020-06-26T00:00:00.000'
 '2020-06-27T00:00:00.000' '2020-06-28T00:00:00.000'
 '2020-06-29T00:00:00.000' '2020-06-30T00:00:00.000'
 '2020-07-01T00:00:00.000' '2020-07-02T00:00:00.000'
 '2020-07-03T00:00:00.000' '2020-07-04T00:00:00.000'
 '2020-07-05T00:00:00.000' '2020-07-06T00:00:00.000'
 '2020-07-07T00:00:00.000' '2020-07-08T00:00:00.000'
 '2020-07-09T00:00:00.000' '2020-07-10T00:00:00.000'
 '2020-07-11T00:00:00.000' '2020-07-12T00:00:00.000'
 '2020-07-13T00:00:00.000' '2020-07-14T00:00:00.000'
 '2020-07-15T00:00:00.000' '2020-07-16T00:00:00.000'
 '2020-07-17T00:00:00.000' '2020-07-18T00:00:00.000'
 '2020-07-19T00:00:00.000' '2020-07-20T00:00:00.000'
 '2020-07-21T00:00:00.000' '2020-07-22T00:00:00.000'
 '2020-07-23T00:00:00.000' '2020-07-24T00:00:00.000'
 '2020-07-25T00:00:00.000' '2020-07-26T00:00:00.000'
 '2020-07-27T00:00:00.000' '2020-07-28T00:00:00.000'
 '2020-07-29T00:00:00.000' '2020-07-30T00:00:00.000'
 '2020-07-31T00:00:00.000' '2020-08-01T00:00:00.000'
 '2020-08-02T00:00:00.000' '2020-08-03T00:00:00.000'
 '2020-08-04T00:00:00.000' '2020-08-05T00:00:00.000'
 '2020-08-06T00:00:00.000' '2020-08-07T00:00:00.000'
 '2020-08-08T00:00:00.000' '2020-08-09T00:00:00.000'
 '2020-08-10T00:00:00.000' '2020-08-11T00:00:00.000'
 '2020-08-12T00:00:00.000' '2020-08-13T00:00:00.000'
 '2020-08-14T00:00:00.000' '2020-08-15T00:00:00.000'
 '2020-08-16T00:00:00.000' '2020-08-17T00:00:00.000'
 '2020-08-18T00:00:00.000' '2020-08-19T00:00:00.000'
 '2020-08-20T00:00:00.000' '2020-08-21T00:00:00.000'
 '2020-08-22T00:00:00.000' '2020-08-23T00:00:00.000'
 '2020-08-24T00:00:00.000' '2020-08-25T00:00:00.000'
 '2020-08-26T00:00:00.000' '2020-08-27T00:00:00.000'
 '2020-08-28T00:00:00.000' '2020-08-29T00:00:00.000'
 '2020-08-30T00:00:00.000' '2020-08-31T00:00:00.000'
 '2020-09-01T00:00:00.000' '2020-09-02T00:00:00.000'
 '2020-09-03T00:00:00.000' '2020-09-04T00:00:00.000'
 '2020-09-05T00:00:00.000' '2020-09-06T00:00:00.000'
 '2020-09-07T00:00:00.000' '2020-09-08T00:00:00.000'
 '2020-09-09T00:00:00.000' '2020-09-10T00:00:00.000'
 '2020-09-11T00:00:00.000' '2020-09-12T00:00:00.000'
 '2020-09-13T00:00:00.000' '2020-09-14T00:00:00.000'
 '2020-09-15T00:00:00.000' '2020-09-16T00:00:00.000'
 '2020-09-17T00:00:00.000' '2020-09-18T00:00:00.000'
 '2020-09-19T00:00:00.000' '2020-09-20T00:00:00.000'
 '2020-09-21T00:00:00.000' '2020-09-22T00:00:00.000'
 '2020-09-23T00:00:00.000' '2020-09-24T00:00:00.000'
 '2020-09-25T00:00:00.000' '2020-09-26T00:00:00.000'
 '2020-09-27T00:00:00.000' '2020-09-28T00:00:00.000'
 '2020-09-29T00:00:00.000']

---Count values unique from column * crash_time * ---:
 ['11:32' '12:05' '18:30' ... '3:14' '3:06' '4:09']

---Count values unique from column * borough * ---:
 [nan 'QUEENS' 'BRONX' 'MANHATTAN' 'BROOKLYN' 'STATEN ISLAND']

---Count values unique from column * zip_code * ---:
 [   nan 11004. 10469. 10030. 11433. 11358. 11375. 11369. 11207. 11434.
 11101. 10007. 11230. 11237. 10014. 10301. 11374. 11217. 11367. 11215.
 11412. 10457. 11209. 11208. 10001. 10036. 10037. 11223. 11355. 11414.
 10462. 10461. 11228. 10013. 11354. 10309. 10017. 10304. 10460. 11426.
 11429. 11422. 10016. 10018. 10002. 11238. 10453. 10475. 11372. 11105.
 11103. 11106. 10035. 11226. 11210. 11236. 10466. 10470. 10305. 11201.
 10468. 10467. 11363. 10032. 10306. 10000. 10463. 11214. 11385. 11420.
 11220. 10011. 10012. 10003. 10456. 11365. 11222. 11356. 11357. 10308.
 11360. 11001. 10472. 11693. 11423. 10314. 11213. 11413. 11233. 11225.
 11368. 11373. 10021. 10451. 10027. 10455. 11235. 11224. 11216. 10028.
 10010. 10128. 10454. 10310. 11435. 11206. 10024. 11436. 11229. 10009.
 11417. 10025. 10022. 11432. 10065. 10075. 10033. 10040. 11370. 10034.
 11415. 10452. 11104. 11221. 11421. 10019. 11234. 11691. 11419. 11219.
 11362. 10023. 10459. 10474. 11428. 11205. 11102. 11697. 11366. 10473.
 11212. 10004. 11203. 11211. 11364. 10119. 11694. 11427. 11377. 10312.
 11218. 10458. 10029. 11232. 10307. 10038. 11361. 10005. 10039. 10471.
 11378. 11379. 11416. 11204. 11692. 10302. 10020. 11411. 10031. 11231.
 10006. 11418. 11239. 10026. 10464. 10465. 11249. 11040. 10172. 10165.
 10278. 11109. 10282. 10154. 10168. 10069. 10121. 10281. 10271. 10123.
 10280. 11430. 10041. 10279. 10103. 10105. 10167. 11005. 10169. 10118.
 11359. 11695. 11251. 10153.]

---Count values unique from column * latitude * ---:
 [       nan 40.7464355 40.8697608 ... 40.693794  40.645958  40.849342 ]

---Count values unique from column * longitude * ---:
 [        nan -73.70379   -73.8448773 ... -74.09847   -73.92901
 -73.85061  ]

---Count values unique from column * on_street_name * ---:
 ['CANAL STREET                    ' 'EDGECOMBE AVENUE                '
 'BRUCKNER BOULEVARD              ' ... 'UNION 112 TURNPIKE              '
 'BROOKYN QNS EXPRESSWAY          ' '34th street                     ']

---Count values unique from column * off_street_name * ---:
 ['WASHINGTON STREET               ' 'WEST 155 STREET                 '
 'EAST 138 STREET                 ' ... 'THIRD AVENUE' '7th avenue'
 'CROYDON ROAD']

---Count values unique from column * number_of_persons_injured * ---:
 [ 0  1  4  5  3  2  6  8  7  9 11 10 15]

---Count values unique from column * number_of_persons_killed * ---:
 [0 1 2 3]

---Count values unique from column * number_of_pedestrians_injured * ---:
 [0 1 2 5 3 6 4]

---Count values unique from column * number_of_pedestrians_killed * ---:
 [0 1]

---Count values unique from column * number_of_cyclist_injured * ---:
 [0 1 2 3]

---Count values unique from column * number_of_cyclist_killed * ---:
 [0 1]

---Count values unique from column * number_of_motorist_injured * ---:
 [ 0  1  4  5  3  2  6  8  7  9 11 10 15]

---Count values unique from column * number_of_motorist_killed * ---:
 [0 1 2 3]

---Count values unique from column * contributing_factor_vehicle_1 * ---:
 ['Unspecified' 'Other Vehicular' 'Driver Inattention/Distraction'
 'Backing Unsafely' 'Fatigued/Drowsy' 'Other Electronic Device'
 'Unsafe Lane Changing' 'Lost Consciousness' 'Physical Disability'
 'Failure to Yield Right-of-Way' 'Turning Improperly'
 'Passing or Lane Usage Improper' 'Following Too Closely'
 'Brakes Defective' 'Passing Too Closely' 'Unsafe Speed'
 'Driverless/Runaway Vehicle' 'Traffic Control Disregarded'
 'Driver Inexperience' 'Oversized Vehicle' 'Passenger Distraction'
 'Aggressive Driving/Road Rage' 'Animals Action' 'Glare' nan 'Fell Asleep'
 'Alcohol Involvement' 'Pavement Defective'
 'Pedestrian/Bicyclist/Other Pedestrian Error/Confusion'
 'View Obstructed/Limited' 'Traffic Control Device Improper/Non-Working'
 'Reaction to Uninvolved Vehicle' 'Drugs (illegal)'
 'Outside Car Distraction' 'Failure to Keep Right' 'Illnes'
 'Obstruction/Debris' 'Accelerator Defective' 'Pavement Slippery'
 'Tire Failure/Inadequate' 'Steering Failure'
 'Lane Marking Improper/Inadequate' 'Cell Phone (hand-Held)'
 'Shoulders Defective/Improper' 'Other Lighting Defects'
 'Using On Board Navigation Device' 'Tow Hitch Defective'
 'Eating or Drinking' 'Windshield Inadequate' 'Tinted Windows'
 'Cell Phone (hands-free)' 'Vehicle Vandalism' 'Prescription Medication'
 'Listening/Using Headphones' 'Headlights Defective']

---Count values unique from column * contributing_factor_vehicle_2 * ---:
 ['Unspecified' 'Other Vehicular' nan 'Pavement Slippery' 'Fatigued/Drowsy'
 'Driver Inattention/Distraction' 'Backing Unsafely'
 'Failure to Yield Right-of-Way' 'Passing Too Closely'
 'Passing or Lane Usage Improper' 'Unsafe Lane Changing'
 'Traffic Control Device Improper/Non-Working' 'Following Too Closely'
 'Traffic Control Disregarded' 'Reaction to Uninvolved Vehicle'
 'Outside Car Distraction' 'Alcohol Involvement' 'Passenger Distraction'
 'Turning Improperly' 'Oversized Vehicle' 'Unsafe Speed'
 'Aggressive Driving/Road Rage'
 'Pedestrian/Bicyclist/Other Pedestrian Error/Confusion'
 'Driver Inexperience' 'View Obstructed/Limited' 'Glare' 'Illnes'
 'Obstruction/Debris' 'Failure to Keep Right'
 'Lane Marking Improper/Inadequate' 'Accelerator Defective'
 'Driverless/Runaway Vehicle' 'Listening/Using Headphones'
 'Tire Failure/Inadequate' 'Other Lighting Defects' 'Pavement Defective'
 'Using On Board Navigation Device' 'Tinted Windows' 'Brakes Defective'
 'Lost Consciousness' 'Headlights Defective' 'Fell Asleep'
 'Animals Action' 'Tow Hitch Defective' 'Drugs (illegal)'
 'Cell Phone (hand-Held)' 'Other Electronic Device' 'Steering Failure']

---Count values unique from column * collision_id * ---:
 [   2568   69010   74294 ... 4353701 4353705 4353706]

---Count values unique from column * vehicle_type_code1 * ---:
 ['PASSENGER VEHICLE' 'SPORT UTILITY / STATION WAGON' 'OTHER' 'VAN' 'BUS'
 'MOTORCYCLE' 'AMBULANCE' 'PICK-UP TRUCK' 'TAXI' 'SMALL COM VEH(4 TIRES) '
 'Sedan' 'Motorcycle' 'Station Wagon/Sport Utility Vehicle' 'Bus'
 'Garbage or Refuse' 'Box Truck' 'Pick-up Truck' 'Taxi' 'Van' nan 'RV'
 'Bike' 'Tractor Truck Diesel' 'PK' 'Moped' 'Dump' 'Convertible'
 'Tractor Truck Gasoline' 'Ambulance' 'Flat Bed' 'PAS' 'Motorbike' 'DELV'
 'UTIL' 'MACK' 'Tow Truck / Wrecker' 'POSTA' 'Lift Boom' 'deliv'
 'Concrete Mixer' 'winne' 'Carry All' 'Flat Rack' 'AMBUL' 'TRACT'
 'Beverage Truck' 'DUMP' 'REFG' '4D' '4 dr sedan' 'van' 'Van Camper'
 'BOBCA' 'Refrigerated Van' 'box t' 'Motorscooter' 'Tanker' 'UNKNO' '4DS'
 'COM' 'Armored Truck' 'LADDER 34' 'Chassis Cab' '2 dr sedan' 'moped'
 '3-Door' 'School Bus' 'Bulk Agriculture' 'tower' 'self' 'AMB' 'TRUCK'
 'fire' 'WHITE' 'e-350' 'p/sh' 'comm.' 'BTM' 'Minibike' 'Scoot' 'truck'
 'Stake or Rack' 'FIRE' 'MOPED' 'Minicycle' 'TRAC' 'SELF' 'Trail'
 'Open Body' 'SCOOT' 'TRAIL' 'Enclosed Body - Nonremovable Enclosure'
 'Ambul' 'US PO' 'USPS' 'Delv' 'Schoo' 'BULLD' 'SCHOO' 'range' 'ambul'
 'Mta' 'AMBU' 'Well Driller' 'PICKU' 'BOX T' 'APPOR' 'STREE' 'scoot'
 'Fire' 'FDNY' 'Lunch Wagon' 'Multi-Wheeled Vehicle' 'excav' 'NYS A'
 'firet' 'DIRT' 'Tow T' 'BS' 'elect' 'ELECT' 'MTA B' 'E-Bik' 'E-Sco'
 'Tow Truck' 'FIRET' 'trail' 'UHAUL' 'trl' 'back' 'Golf' 'TOWTR' 'Sprin'
 'TRK' 'utili' 'tk' 'Box t' 'FORK' 'stree' 'CITY' 'POWER' 'VAN T' 'MOBIL'
 'PICK-' 'vespa' 'DELIV' 'LIMOU' 'E BIK' 'MINI' 'COMME' 'van t' 'TRLR'
 'dump' 'Motorized Home' 'CONT' 'Pickup with mounted Camper' 'g spc'
 'POLIC' 'WINEB' 'LTR' 'Parce' 'forkl' 'LIMO' 'HI TA' 'BoxTr' 'bus'
 'Pedicab' '35 FT' 'UT' 'BACKH' 'City' 'GOLF' 'CAT.' 'PU' 'Const' 'limo'
 'Truck' 'prks' 'Unkno' 'RMP V' 'ambu' 'Amb' 'FORKL' 'UTILI' 'PAYLO'
 'Tow t' 'Mack' 'E450' 'E-Bike' 'FLAT' 'FDNY TRUCK' 'Tow truck'
 'USPS POSTA' 'FIRETRUCK' 'DIRT BIKE' 'FREIGHT TR' 'White ambu'
 'TOW TRUCK' 'FREIG DELV' 'ambulance' 'pc' 'Utility.' 'MAIL TRUCK'
 'E-Scooter' 'USPS TRUCK' 'FIRE TRUCK' 'POSTAL TRU' 'BOX TRUCK'
 'Commercial' 'GOLF CART' 'FDNY FIRE' 'Fdny ambul'
 'Enclosed Body - Removable Enclosure' 'Work van' 'E bike' 'LCOMM'
 'fire truck' 'FREIG' 'government' 'SUBN WHI' 'PICK UP TR' 'PICK-UP TR'
 'e skate bo' 'PICK UP' 'FLATBED' 'camper tra' 'TRAILER' 'postal tru'
 'E-BIKE' '0' 'hrse' 'EMS' 'BACK HOE' 'Fire Truck' 'FDNY Fire' 'E-bike'
 'CHEVROLET' 'HRSE' 'Trailer' 'tow truck' 'com' 'LIGHT TRAI' 'Pick up'
 'FUSION' 'Cargo Van' 'f-250' 'FORK LIFT' 'UNK' 'Trc' 'postal bus'
 'forklift' 'WORK VAN' 'NYC FD' 'F150XL PIC' 'MECHANICAL' 'NYC AMBULA'
 'FIRE ENGIN' 'FDNY Ambul' 'MTA BUS' 'UNKNOWN' 'ELEC. UNIC' '1C'
 'DELIVERY T' 'Pick up Tr' 'CARGO VAN' 'CAT' 'gator' 'FDNY ENGIN' 'J1'
 'CHEVY EXPR' 'FD LADDER' 'ELECTRIC S' 'BOBCAT FOR' 'Freight' 'SCOOTER'
 'E REVEL SC' 'Fork lift' 'FDNY Engin' 'Ford sprin' 'UPS TRUCK'
 'FDNY AMBUL' 'SLINGSHOT' 'commercial' 'Wh Ford co' 'ROAD SWEEP' 'Horse'
 'Unknown' 'DOT EQUIPM' 'usps' 'DELIVERY V' 'UTILITY VE' 'Bucket Tru'
 'COMMERCIAL' 'backhoe' 'Tractor' 'MOVING VAN' 'AMBULENCE' 'UNKN'
 '18 WHEELER' 'USPS VAN' 'box truck' 'GARBAGE TR' 'MOTOR SCOO'
 'Livestock Rack' 'abulance' 'FREIGHT FL' 'FDNY #226' 'Go kart' 'cross'
 'FOOD TRUCK' 'JOHN DEERE' 'dump truck' 'Front-Load' 'suburban' 'OTH'
 'MOTORSCOOT' 'Pumper' 'TRUCK FLAT' 'Tractor tr' 'GEN  AMBUL' 'DELIVERY'
 'Tractor Tr' 'trailer' 'DRILL RIG' 'TRUCK VAN' 'FDNY fire' 'PSD'
 'COURIER' 'SWT' 'dilevery t' 'Golf Cart' 'Work Van' 'Lawnmower'
 'ford van' 'scooter' 'Fire truck' 'dark color' 'SKATEBOARD' 'message si'
 'SUV' 'POWER SHOV' 'AMBULACE' 'forlift' 'fdny ems' 'Fork Lift' 'UTILITY'
 'Leased amb' 'PC' 'SMART CAR' 'FORKLIFT' 'USPS/GOVT' 'FLATBED FR' 'Can'
 'Trac' 'MOTOR SKAT' 'Pick up tr' 'E-UNICYCLE' 'Cement Tru' 'utility'
 'FIRTRUCK' 'almbulance' 'Courier' 'Scooter' 'Fire Engin' 'F550'
 'FDNY LADDE' 'box']

---Count values unique from column * vehicle_type_code2 * ---:
 ['SPORT UTILITY / STATION WAGON' 'OTHER' 'LIVERY VEHICLE' nan
 'PASSENGER VEHICLE' 'UNKNOWN' 'TAXI' 'VAN' 'MOTORCYCLE'
 'SMALL COM VEH(4 TIRES) ' 'Station Wagon/Sport Utility Vehicle' 'Sedan'
 'Pick-up Truck' 'Bike' 'Taxi' 'Box Truck' 'Concrete Mixer' 'Bus' 'Van'
 'Tractor Truck Diesel' 'Motorcycle' 'Dump' '3-Door' 'Polic' 'PSD' 'FOOD'
 'Tanker' 'Convertible' 'Carry All' 'Tractor Truck Gasoline' 'sedan' 'RV'
 'Garbage or Refuse' 'unkno' 'P/SH' 'Flat Bed' 'AMBUL' 'TRAIL'
 '4 dr sedan' 'DUMP' 'Ambulance' 'BOX T' 'unk' 'Chassis Cab' 'FDNY'
 'cemen' 'DELV' 'tow t' 'USPS' 'Armored Truck' 'Refrigerated Van'
 'School Bus' 'PK' 'INTL' 'TUCK' 'TRUCK' 'DELIV' 'UNKNO' 'FIRE' 'PAS'
 'SCHOO' 'Moped' 'firet' 'Tow Truck / Wrecker' 'uhaul' 'motor'
 'Well Driller' 'Van Camper' 'Beverage Truck' 'COM' 'Motorbike' 'Minibike'
 'Motorscooter' 'Lift Boom' 'fork' 'E-BIK' 'GARBA' 'ENCLO' 'MOVIN' 'BOX'
 'FIRET' 'Scoot' 'Bulk Agriculture' 'HAND' 'USPOS' 'STREE' 'ELECT'
 'Pickup with mounted Camper' 'van' 'wagon' 'Ambul'
 'Multi-Wheeled Vehicle' 'Deliv' 'const' 'AMB' 'Tow Truck' 'US PO' 'VAN T'
 'Elect' 'MOPED' 'bobca' 'POST' 'BACKH' 'trail' 'AMBU' 'Hopper' 'CAMPE'
 'Enclosed Body - Nonremovable Enclosure' 'FORK' 'usps' 'TOWER'
 'Flat Rack' 'SCOOT' 'dp' 'E Bik' 'truck' 'elect' 'Van (' 'TRACT' 'E-Bik'
 'Lunch Wagon' 'Pedicab' 'FED E' 'Glass Rack' 'Vanette' 'ENGIN' 'TOW T'
 'tract' 'FORKL' 'E-Sco' 'SELF-' 'E-bik' 'UNK' 'scoot' 'Pick' 'WORK'
 'E-SCO' 'JLG L' 'Crane' 'Motorized Home' 'ambul' 'Pallet' 'BLACK'
 'Minicycle' 'ALUMI' 'JOHN' 'Stake or Rack' 'CHURC' 'Utili' 'MOTOR' 'Flat'
 'trlr' 'CAT32' 'BOBCA' 'Open Body' 'DIRTB' 'fdny' 'rep' 'Fire' 'Backh'
 'MTA B' 'MACK' 'REFG' 'fire' 'crane' 'PASS' 'Snow Plow' 'IP' 'E SCO'
 'SKATE' 'MTA b' 'Unkno' 'sprin' 'BULLD' 'FIRE TRUCK' 'E350' 'FORD'
 'Train' 'Subn' 'E250' 'Trail' 'yello' 'TRANS' 'forkl' 'Lift' 'boom'
 'TRA/R' 'LIMO' 'DETAC' 'ASPHA' 'Forkl' 'ART M' 'PICK UP' 'MAIL' 'Unk'
 'UTIL WH' 'E-SKA' 'Depar' 'spec-' 'HORSE' 'Schoo' 'E-Scooter' 'EBIKE'
 'FDNY TRUCK' 'TOW TRUCK' 'E-Bike' 'LADDER TRU' 'util' 'dump truck'
 'Fire Engin' 'SCHOOLBUS' 'E-BIKE' 'POSTAL TRU' 'TRAILER' 'Fire truck'
 '18 WEELER' 'GLNEN' 'GARBAGE TR' 'SWEEPER' 'Light trai' 'AMBULANCE' 'TL'
 'FD TRUCK' 'DUMP TRUCK' 'sanitation' 'ambulance' 'SCOOTER' 'BUs'
 'AMBULENCE' 'TRL' 'Cargo Truc' 'itas' 'Firetruck' '2 dr sedan' 'Unknown'
 'C1' 'LCOM' 'Golf Cart' 'PICK-UP TR' 'HEARSE' 'trailer' 'CRANE'
 'E-SCOOTER' 'FRT' 'mailtruck' 'FORK LIFT' 'E-Scoter' 'LMA' 'FORKLIFT'
 'DIRT BIKE' 'SKID LOADE' 'Dirt bike' 'Flat bed' 'FLATBED' 'ROAD SWEEP'
 'FIRETRUCK' 'DELIVERY V' 'E-scooter' 'T630 Forkl' 'firetruck' 'unknown'
 'BOX TRUCK' 'Trailer' 'RDS' 'FDNY truck' 'ACCESS A R' 'JETSKI'
 'commercial' 'UHAUL' 'PC' 'USPS TRUCK' 'COMMERCIAL' 'POWER SHOV'
 'UTILITY TR' 'Toyota' 'Delivery t' 'BOB CAT' 'Sanitation' 'Tree cutte'
 'ESCOVATOR' 'fire truck' 'VAN/TRANSI' 'GLP050VXEV' 'TRAC' 'motorcycle'
 'forklift' 'ICE CREAM' 'MOBILE' 'FDNY AMBUL' 'HAUL FOR H' 'push scoot'
 'FDNY FIRE' 'Gas Scoote' 'Pickup' 'Razor scoo' 'TRACTOR TR' 'Scooter'
 'SANITATION' 'COMMERICAL' 'SUV' 'Pick Truck' 'FDNY Fire' 'USPS POSTA'
 'MAIL TRUCK' 'FLAT BED' 'Truck' 'VEHICLE 2' 'Horse' 'FREIGHTLIN' 'bus'
 'UTIL' 'UKN' 'mopd' 'EMS TRUCK' 'NYC BUS' 'FDNY EMS' 'US Govt ve'
 'E-SKATEBOA' 'SPECIAL PU' 'Electric s' 'scooter' 'TRACTOR' 'FRIEGHTLIN'
 'Dump truck' 'GOLF CART' 'RAM' 'golf cart' 'PALFINGER' '4dsd'
 'FDNY Truck' 'INTERNATIO' 'FDNY firet' 'e-bike' 'MTA Truck' 'ESCOOTER'
 'Moped Scoo' 'ELECTRIC M' 'Skateboard' 'John Deere' 'street cle'
 'Dump Truck' 'NYC FIRETR' 'Dirt Bike' 'Pick up tr' 'PICKUP' 'moped'
 'Moped elec' 'Fire Truck' 'STREET SWE' 'Forklift' 'uhaul truc'
 'ELECTRIC S' 'DIRTBIKE' 'cargo van' 'U-HAUL' 'LAWN MOWER' 'MOPED SCOO'
 'TRUCK TRAI' 'uknown' 'electric s' 'Tilt tande' 'DELIVERY T' 'REVEL'
 'FIRE ENGIN' 'BACKHOE LO' 'transport' 'AMAZON SPR' 'FDNY FIRET'
 'FOLK LIFT' 'MINI VAN' 'GATOR' 'Cargo Van' 'I1' 'Fleet' 'constructi'
 'LEFT THE S' 'NYC ACS Va' 'boom lift' 'MAILTRUCK' 'Flatbed' 'Postal tru'
 'E SCOOTER' 'Sweeper' 'UNKNOWN VE' 'box truck' 'motor scoo']

In [60]:
# d. Observe values in each column (nunique):
# looking for category variables
for i in range(len(get_column_names)):
    print(f'---Nr of distinct observations (unique) of column * {df.columns[i]} * is: {df[df.columns[i]].nunique()}')

---Nr of distinct observations (unique) of column * crash_date * is: 551
---Nr of distinct observations (unique) of column * crash_time * is: 1440
---Nr of distinct observations (unique) of column * borough * is: 5
---Nr of distinct observations (unique) of column * zip_code * is: 203
---Nr of distinct observations (unique) of column * latitude * is: 33675
---Nr of distinct observations (unique) of column * longitude * is: 26494
---Nr of distinct observations (unique) of column * on_street_name * is: 4327
---Nr of distinct observations (unique) of column * off_street_name * is: 4897
---Nr of distinct observations (unique) of column * number_of_persons_injured * is: 13
---Nr of distinct observations (unique) of column * number_of_persons_killed * is: 4
---Nr of distinct observations (unique) of column * number_of_pedestrians_injured * is: 7
---Nr of distinct observations (unique) of column * number_of_pedestrians_killed * is: 2
---Nr of distinct observations (unique) of column * number_of_cyclist_injured * is: 4
---Nr of distinct observations (unique) of column * number_of_cyclist_killed * is: 2
---Nr of distinct observations (unique) of column * number_of_motorist_injured * is: 13
---Nr of distinct observations (unique) of column * number_of_motorist_killed * is: 4
---Nr of distinct observations (unique) of column * contributing_factor_vehicle_1 * is: 54
---Nr of distinct observations (unique) of column * contributing_factor_vehicle_2 * is: 47
---Nr of distinct observations (unique) of column * collision_id * is: 100000
---Nr of distinct observations (unique) of column * vehicle_type_code1 * is: 366
---Nr of distinct observations (unique) of column * vehicle_type_code2 * is: 385

In [61]:
# e. Observe value_counts in each column:
get_column_names = df.columns
for i in range(len(get_column_names)):
    print(f'---Count values from column * {df.columns[i]} * --- : \n {df[df.columns[i]].value_counts()} \n')

---Count values from column * crash_date * --- :
 2019-07-19T00:00:00.000    664
2019-07-16T00:00:00.000    654
2019-09-03T00:00:00.000    648
2019-07-26T00:00:00.000    648
2019-07-29T00:00:00.000    646
                          ...
2018-05-15T00:00:00.000      1
2013-04-19T00:00:00.000      1
2015-07-23T00:00:00.000      1
2015-04-27T00:00:00.000      1
2020-02-22T00:00:00.000      1
Name: crash_date, Length: 551, dtype: int64

---Count values from column * crash_time * --- :
 0:00     1637
17:00    1363
16:00    1360
14:00    1298
15:00    1246
         ...
4:32        3
4:59        3
5:12        3
4:42        2
4:09        2
Name: crash_time, Length: 1440, dtype: int64

---Count values from column * borough * --- :
 BROOKLYN         22118
QUEENS           18322
BRONX            11927
MANHATTAN        10637
STATEN ISLAND     1970
Name: borough, dtype: int64

---Count values from column * zip_code * --- :
 11207.0    1510
11236.0    1175
11212.0    1088
11208.0    1071
11385.0    1015
           ...
10041.0       1
11695.0       1
10279.0       1
10169.0       1
10271.0       1
Name: zip_code, Length: 203, dtype: int64

---Count values from column * latitude * --- :
 0.000000     169
40.861862     79
40.804700     56
40.820305     52
40.675735     48
            ...
40.764260      1
40.807420      1
40.599550      1
40.677197      1
40.713203      1
Name: latitude, Length: 33675, dtype: int64

---Count values from column * longitude * --- :
  0.00000     169
-73.91282     83
-73.89063     73
-73.91243     61
-73.89083     58
            ...
-73.89218      1
-73.89291      1
-73.96870      1
-74.00922      1
-73.91079      1
Name: longitude, Length: 26494, dtype: int64

---Count values from column * on_street_name * --- :
 BELT PARKWAY                        1616
LONG ISLAND EXPRESSWAY              1053
BROOKLYN QUEENS EXPRESSWAY           956
BROADWAY                             863
FDR DRIVE                            852
                                    ...
WILLIS AVENUE BRIDGE                   1
SUTTON PLACE SOUTH                     1
BEACH 133 STREET                       1
MARS PLACE                             1
STEWART STREET                         1
Name: on_street_name, Length: 4327, dtype: int64

---Count values from column * off_street_name * --- :
 3 AVENUE            432
BROADWAY            424
2 AVENUE            340
LINDEN BOULEVARD    280
5 AVENUE            247
                   ...
LAKE VIEW PLACE       1
Jerome Avenue         1
Liberty Ave           1
FALCON AVENUE         1
STAFFORD AVENUE       1
Name: off_street_name, Length: 4897, dtype: int64

---Count values from column * number_of_persons_injured * --- :
 0     72699
1     21011
2      4125
3      1308
4       523
5       196
6        77
7        36
8        14
9         5
11        3
10        2
15        1
Name: number_of_persons_injured, dtype: int64

---Count values from column * number_of_persons_killed * --- :
 0    99816
1      176
2        7
3        1
Name: number_of_persons_killed, dtype: int64

---Count values from column * number_of_pedestrians_injured * --- :
 0    95454
1     4383
2      142
3       17
6        2
5        1
4        1
Name: number_of_pedestrians_injured, dtype: int64

---Count values from column * number_of_pedestrians_killed * --- :
 0    99936
1       64
Name: number_of_pedestrians_killed, dtype: int64

---Count values from column * number_of_cyclist_injured * --- :
 0    95147
1     4744
2      107
3        2
Name: number_of_cyclist_injured, dtype: int64

---Count values from column * number_of_cyclist_killed * --- :
 0    99975
1       25
Name: number_of_cyclist_killed, dtype: int64

---Count values from column * number_of_motorist_injured * --- :
 0     81887
1     12243
2      3767
3      1259
4       523
5       189
6        73
7        34
8        14
9         5
11        3
10        2
15        1
Name: number_of_motorist_injured, dtype: int64

---Count values from column * number_of_motorist_killed * --- :
 0    99904
1       89
2        6
3        1
Name: number_of_motorist_killed, dtype: int64

---Count values from column * contributing_factor_vehicle_1 * --- :
 Driver Inattention/Distraction                           25605
Unspecified                                              25253
Following Too Closely                                     7530
Failure to Yield Right-of-Way                             6023
Backing Unsafely                                          4033
Passing or Lane Usage Improper                            3979
Passing Too Closely                                       3676
Other Vehicular                                           3071
Unsafe Lane Changing                                      2588
Unsafe Speed                                              2447
Traffic Control Disregarded                               2140
Turning Improperly                                        1998
Driver Inexperience                                       1823
Reaction to Uninvolved Vehicle                            1588
Alcohol Involvement                                       1252
View Obstructed/Limited                                    870
Pedestrian/Bicyclist/Other Pedestrian Error/Confusion      796
Aggressive Driving/Road Rage                               661
Pavement Slippery                                          518
Oversized Vehicle                                          515
Brakes Defective                                           410
Fell Asleep                                                321
Passenger Distraction                                      282
Obstruction/Debris                                         258
Outside Car Distraction                                    218
Steering Failure                                           196
Tire Failure/Inadequate                                    164
Lost Consciousness                                         155
Illnes                                                     151
Pavement Defective                                         141
Glare                                                      130
Fatigued/Drowsy                                            116
Failure to Keep Right                                      108
Animals Action                                             107
Driverless/Runaway Vehicle                                  96
Drugs (illegal)                                             91
Accelerator Defective                                       62
Traffic Control Device Improper/Non-Working                 53
Lane Marking Improper/Inadequate                            38
Physical Disability                                         35
Cell Phone (hand-Held)                                      35
Eating or Drinking                                          11
Using On Board Navigation Device                            11
Tow Hitch Defective                                         11
Other Lighting Defects                                       9
Tinted Windows                                               9
Vehicle Vandalism                                            9
Prescription Medication                                      9
Headlights Defective                                         8
Other Electronic Device                                      7
Cell Phone (hands-free)                                      6
Shoulders Defective/Improper                                 4
Windshield Inadequate                                        1
Listening/Using Headphones                                   1
Name: contributing_factor_vehicle_1, dtype: int64

---Count values from column * contributing_factor_vehicle_2 * --- :
 Unspecified                                              67739
Driver Inattention/Distraction                            5284
Following Too Closely                                     1296
Other Vehicular                                           1249
Passing or Lane Usage Improper                             802
Failure to Yield Right-of-Way                              716
Passing Too Closely                                        538
Unsafe Lane Changing                                       402
Unsafe Speed                                               383
Traffic Control Disregarded                                370
Backing Unsafely                                           285
Reaction to Uninvolved Vehicle                             236
Turning Improperly                                         226
Pedestrian/Bicyclist/Other Pedestrian Error/Confusion      214
Driver Inexperience                                        213
View Obstructed/Limited                                    186
Oversized Vehicle                                           93
Aggressive Driving/Road Rage                                87
Pavement Slippery                                           83
Alcohol Involvement                                         59
Obstruction/Debris                                          42
Failure to Keep Right                                       37
Passenger Distraction                                       35
Outside Car Distraction                                     30
Traffic Control Device Improper/Non-Working                 25
Lane Marking Improper/Inadequate                            20
Glare                                                       18
Brakes Defective                                            15
Pavement Defective                                          10
Illnes                                                       9
Driverless/Runaway Vehicle                                   7
Other Lighting Defects                                       6
Cell Phone (hand-Held)                                       6
Tire Failure/Inadequate                                      5
Fell Asleep                                                  4
Fatigued/Drowsy                                              3
Tinted Windows                                               3
Using On Board Navigation Device                             3
Other Electronic Device                                      3
Accelerator Defective                                        3
Drugs (illegal)                                              2
Lost Consciousness                                           2
Tow Hitch Defective                                          2
Animals Action                                               2
Listening/Using Headphones                                   2
Headlights Defective                                         1
Steering Failure                                             1
Name: contributing_factor_vehicle_2, dtype: int64

---Count values from column * collision_id * --- :
 4196351    1
4193848    1
3656236    1
3654189    1
4184622    1
          ..
4330158    1
4331091    1
4351219    1
4318004    1
4194304    1
Name: collision_id, Length: 100000, dtype: int64

---Count values from column * vehicle_type_code1 * --- :
 Sedan                                  46790
Station Wagon/Sport Utility Vehicle    35766
Taxi                                    3478
Pick-up Truck                           2615
Box Truck                               1946
                                       ...
FREIG                                      1
FOOD TRUCK                                 1
FIRET                                      1
TOW TRUCK                                  1
BoxTr                                      1
Name: vehicle_type_code1, Length: 366, dtype: int64

---Count values from column * vehicle_type_code2 * --- :
 Sedan                                  31369
Station Wagon/Sport Utility Vehicle    24773
Bike                                    3586
Taxi                                    2300
Pick-up Truck                           2282
                                       ...
JLG L                                      1
boom lift                                  1
constructi                                 1
BACKHOE LO                                 1
firetruck                                  1
Name: vehicle_type_code2, Length: 385, dtype: int64

In [62]:
# step 4 : a. strip + lowewcase string columns objects:

get_column_names = df.columns

# liste of columns with string:
columns_str = []
for col in get_column_names:    
    if df[col].dtype == object:
        columns_str.append(col)
#strip + lower:        
for col in columns_str:
    df[col] = df[col].astype(str).str.strip()
    df[col] = df[col].astype(str).str.lower()

#pd.set_option('display.max_columns', None)
df.head()

,crash_date,crash_time,borough,zip_code,latitude,longitude,on_street_name,off_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,collision_id,vehicle_type_code1,vehicle_type_code2
27390,2013-05-05t00:00:00.000,11:32,nan,NaN,NaN,NaN,canal street,washington street,0,0,0,0,0,0,0,0,unspecified,unspecified,2568,passenger vehicle,sport utility / station wagon
26681,2013-04-19t00:00:00.000,12:05,nan,NaN,NaN,NaN,edgecombe avenue,west 155 street,1,0,0,0,0,0,1,0,other vehicular,other vehicular,69010,passenger vehicle,other
24751,2013-04-24t00:00:00.000,18:30,nan,NaN,NaN,NaN,bruckner boulevard,east 138 street,0,0,0,0,0,0,0,0,driver inattention/distraction,unspecified,74294,passenger vehicle,livery vehicle
25805,2013-04-29t00:00:00.000,16:50,nan,NaN,NaN,NaN,flatbush avenue,avenue k,1,0,0,0,0,0,1,0,unspecified,unspecified,127733,sport utility / station wagon,other
26388,2013-04-10t00:00:00.000,16:00,nan,NaN,NaN,NaN,merrick boulevard,108 avenue,0,0,0,0,0,0,0,0,backing unsafely,unspecified,210591,passenger vehicle,other

In [63]:
# step 4 : b. convert date_time
df['crash_date'] = pd.to_datetime(df['crash_date'])
df['crash_time'] = df['crash_time'].apply(lambda x: pd.Timestamp(x).strftime('%H:%M'))

df.head()
#df.info()

,crash_date,crash_time,borough,zip_code,latitude,longitude,on_street_name,off_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,collision_id,vehicle_type_code1,vehicle_type_code2
27390,2013-05-05,11:32,nan,NaN,NaN,NaN,canal street,washington street,0,0,0,0,0,0,0,0,unspecified,unspecified,2568,passenger vehicle,sport utility / station wagon
26681,2013-04-19,12:05,nan,NaN,NaN,NaN,edgecombe avenue,west 155 street,1,0,0,0,0,0,1,0,other vehicular,other vehicular,69010,passenger vehicle,other
24751,2013-04-24,18:30,nan,NaN,NaN,NaN,bruckner boulevard,east 138 street,0,0,0,0,0,0,0,0,driver inattention/distraction,unspecified,74294,passenger vehicle,livery vehicle
25805,2013-04-29,16:50,nan,NaN,NaN,NaN,flatbush avenue,avenue k,1,0,0,0,0,0,1,0,unspecified,unspecified,127733,sport utility / station wagon,other
26388,2013-04-10,16:00,nan,NaN,NaN,NaN,merrick boulevard,108 avenue,0,0,0,0,0,0,0,0,backing unsafely,unspecified,210591,passenger vehicle,other

In [64]:
# Step 5 - Replacing missing values with np.nan
 
df = df.replace('',np.nan)
print(f'All values na in the dataset: {df.isnull().sum().sum()}')
df[df.isna()].head(5)

All values na in the dataset: 51104

,crash_date,crash_time,borough,zip_code,latitude,longitude,on_street_name,off_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,collision_id,vehicle_type_code1,vehicle_type_code2
27390,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26681,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24751,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25805,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26388,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
df = df.replace('NaT',np.nan)
df[df.isna()].head(5)

#drop NaN all rows ???
#df=df.dropna()
#df = df.dropna(how='all')
#df.shape

,crash_date,crash_time,borough,zip_code,latitude,longitude,on_street_name,off_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,collision_id,vehicle_type_code1,vehicle_type_code2
27390,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26681,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24751,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25805,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26388,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
#write dataFrame to csv: 1st version
df.to_csv('data_clean_GOOD_ENOUGH.csv')

In [67]:
# Observe values in each column (unique):
get_column_names = df.columns
for i in range(len(get_column_names)):    
    print(f'---Count values unique from column * {df.columns[i]} * ---: \n {df[df.columns[i]].unique()} \n')

---Count values unique from column * crash_date * ---:
 ['2013-05-05T00:00:00.000000000' '2013-04-19T00:00:00.000000000'
 '2013-04-24T00:00:00.000000000' '2013-04-29T00:00:00.000000000'
 '2013-04-10T00:00:00.000000000' '2013-10-15T00:00:00.000000000'
 '2013-04-13T00:00:00.000000000' '2013-04-16T00:00:00.000000000'
 '2013-04-21T00:00:00.000000000' '2014-10-17T00:00:00.000000000'
 '2013-04-23T00:00:00.000000000' '2013-03-23T00:00:00.000000000'
 '2013-03-24T00:00:00.000000000' '2013-04-14T00:00:00.000000000'
 '2013-04-22T00:00:00.000000000' '2013-05-04T00:00:00.000000000'
 '2015-04-20T00:00:00.000000000' '2015-04-22T00:00:00.000000000'
 '2015-04-27T00:00:00.000000000' '2015-05-06T00:00:00.000000000'
 '2015-05-15T00:00:00.000000000' '2015-05-16T00:00:00.000000000'
 '2015-05-21T00:00:00.000000000' '2015-06-01T00:00:00.000000000'
 '2015-06-09T00:00:00.000000000' '2015-06-17T00:00:00.000000000'
 '2015-06-18T00:00:00.000000000' '2015-06-22T00:00:00.000000000'
 '2015-06-23T00:00:00.000000000' '2015-06-24T00:00:00.000000000'
 '2015-06-25T00:00:00.000000000' '2015-06-26T00:00:00.000000000'
 '2015-06-27T00:00:00.000000000' '2015-06-30T00:00:00.000000000'
 '2015-07-02T00:00:00.000000000' '2015-07-01T00:00:00.000000000'
 '2015-07-03T00:00:00.000000000' '2015-07-23T00:00:00.000000000'
 '2015-07-25T00:00:00.000000000' '2015-07-31T00:00:00.000000000'
 '2015-08-03T00:00:00.000000000' '2015-11-18T00:00:00.000000000'
 '2015-11-21T00:00:00.000000000' '2015-11-24T00:00:00.000000000'
 '2015-11-27T00:00:00.000000000' '2015-11-28T00:00:00.000000000'
 '2015-12-01T00:00:00.000000000' '2015-11-30T00:00:00.000000000'
 '2015-12-05T00:00:00.000000000' '2015-12-08T00:00:00.000000000'
 '2015-12-06T00:00:00.000000000' '2015-12-09T00:00:00.000000000'
 '2015-12-12T00:00:00.000000000' '2017-04-14T00:00:00.000000000'
 '2017-04-15T00:00:00.000000000' '2017-04-16T00:00:00.000000000'
 '2017-04-17T00:00:00.000000000' '2017-04-18T00:00:00.000000000'
 '2017-04-19T00:00:00.000000000' '2017-04-20T00:00:00.000000000'
 '2017-04-21T00:00:00.000000000' '2017-04-22T00:00:00.000000000'
 '2017-04-23T00:00:00.000000000' '2017-04-24T00:00:00.000000000'
 '2017-04-25T00:00:00.000000000' '2017-04-26T00:00:00.000000000'
 '2017-04-27T00:00:00.000000000' '2017-04-28T00:00:00.000000000'
 '2017-04-29T00:00:00.000000000' '2017-04-30T00:00:00.000000000'
 '2017-05-01T00:00:00.000000000' '2017-05-02T00:00:00.000000000'
 '2017-05-03T00:00:00.000000000' '2017-05-04T00:00:00.000000000'
 '2017-05-05T00:00:00.000000000' '2017-05-06T00:00:00.000000000'
 '2017-05-07T00:00:00.000000000' '2017-05-08T00:00:00.000000000'
 '2017-05-09T00:00:00.000000000' '2017-05-10T00:00:00.000000000'
 '2017-06-09T00:00:00.000000000' '2017-06-26T00:00:00.000000000'
 '2017-06-27T00:00:00.000000000' '2017-06-29T00:00:00.000000000'
 '2017-06-28T00:00:00.000000000' '2017-07-08T00:00:00.000000000'
 '2017-07-09T00:00:00.000000000' '2017-07-10T00:00:00.000000000'
 '2017-07-12T00:00:00.000000000' '2017-07-13T00:00:00.000000000'
 '2017-07-05T00:00:00.000000000' '2017-07-16T00:00:00.000000000'
 '2017-07-14T00:00:00.000000000' '2017-07-18T00:00:00.000000000'
 '2017-09-03T00:00:00.000000000' '2017-09-02T00:00:00.000000000'
 '2017-09-04T00:00:00.000000000' '2017-09-05T00:00:00.000000000'
 '2017-09-06T00:00:00.000000000' '2017-09-07T00:00:00.000000000'
 '2017-09-08T00:00:00.000000000' '2017-09-10T00:00:00.000000000'
 '2017-09-09T00:00:00.000000000' '2017-09-11T00:00:00.000000000'
 '2017-09-12T00:00:00.000000000' '2018-02-07T00:00:00.000000000'
 '2018-02-08T00:00:00.000000000' '2018-02-10T00:00:00.000000000'
 '2018-02-11T00:00:00.000000000' '2018-02-09T00:00:00.000000000'
 '2018-02-12T00:00:00.000000000' '2018-02-13T00:00:00.000000000'
 '2018-02-14T00:00:00.000000000' '2018-02-15T00:00:00.000000000'
 '2018-02-16T00:00:00.000000000' '2018-02-17T00:00:00.000000000'
 '2018-02-19T00:00:00.000000000' '2018-02-18T00:00:00.000000000'
 '2018-02-20T00:00:00.000000000' '2018-02-21T00:00:00.000000000'
 '2018-02-23T00:00:00.000000000' '2018-02-25T00:00:00.000000000'
 '2018-02-24T00:00:00.000000000' '2018-02-27T00:00:00.000000000'
 '2018-02-28T00:00:00.000000000' '2018-03-03T00:00:00.000000000'
 '2018-03-07T00:00:00.000000000' '2018-03-08T00:00:00.000000000'
 '2018-03-09T00:00:00.000000000' '2018-03-14T00:00:00.000000000'
 '2018-03-12T00:00:00.000000000' '2018-03-15T00:00:00.000000000'
 '2018-03-16T00:00:00.000000000' '2018-03-17T00:00:00.000000000'
 '2018-03-19T00:00:00.000000000' '2018-04-19T00:00:00.000000000'
 '2018-04-18T00:00:00.000000000' '2018-04-27T00:00:00.000000000'
 '2018-05-07T00:00:00.000000000' '2018-05-08T00:00:00.000000000'
 '2018-05-13T00:00:00.000000000' '2018-05-15T00:00:00.000000000'
 '2018-05-16T00:00:00.000000000' '2018-05-20T00:00:00.000000000'
 '2018-05-24T00:00:00.000000000' '2018-05-25T00:00:00.000000000'
 '2018-05-28T00:00:00.000000000' '2018-05-29T00:00:00.000000000'
 '2018-06-02T00:00:00.000000000' '2018-06-04T00:00:00.000000000'
 '2018-06-05T00:00:00.000000000' '2018-06-06T00:00:00.000000000'
 '2018-07-15T00:00:00.000000000' '2018-07-14T00:00:00.000000000'
 '2018-07-16T00:00:00.000000000' '2018-07-17T00:00:00.000000000'
 '2018-07-18T00:00:00.000000000' '2018-07-19T00:00:00.000000000'
 '2018-07-20T00:00:00.000000000' '2018-07-22T00:00:00.000000000'
 '2018-07-23T00:00:00.000000000' '2018-07-21T00:00:00.000000000'
 '2019-08-21T00:00:00.000000000' '2019-11-21T00:00:00.000000000'
 '2019-06-16T00:00:00.000000000' '2019-06-15T00:00:00.000000000'
 '2019-06-17T00:00:00.000000000' '2019-06-18T00:00:00.000000000'
 '2019-06-19T00:00:00.000000000' '2019-06-20T00:00:00.000000000'
 '2019-06-21T00:00:00.000000000' '2019-06-22T00:00:00.000000000'
 '2019-06-23T00:00:00.000000000' '2019-06-24T00:00:00.000000000'
 '2019-06-25T00:00:00.000000000' '2019-06-26T00:00:00.000000000'
 '2019-06-27T00:00:00.000000000' '2019-06-28T00:00:00.000000000'
 '2019-06-29T00:00:00.000000000' '2019-06-30T00:00:00.000000000'
 '2019-07-01T00:00:00.000000000' '2019-07-02T00:00:00.000000000'
 '2019-07-03T00:00:00.000000000' '2019-07-04T00:00:00.000000000'
 '2019-07-05T00:00:00.000000000' '2019-07-06T00:00:00.000000000'
 '2019-07-07T00:00:00.000000000' '2019-07-08T00:00:00.000000000'
 '2019-07-09T00:00:00.000000000' '2019-07-10T00:00:00.000000000'
 '2019-07-11T00:00:00.000000000' '2019-07-12T00:00:00.000000000'
 '2019-07-13T00:00:00.000000000' '2019-07-14T00:00:00.000000000'
 '2019-07-15T00:00:00.000000000' '2019-07-16T00:00:00.000000000'
 '2019-07-17T00:00:00.000000000' '2019-07-18T00:00:00.000000000'
 '2019-07-19T00:00:00.000000000' '2019-07-20T00:00:00.000000000'
 '2019-07-21T00:00:00.000000000' '2019-07-22T00:00:00.000000000'
 '2019-07-23T00:00:00.000000000' '2019-07-24T00:00:00.000000000'
 '2019-07-25T00:00:00.000000000' '2019-07-26T00:00:00.000000000'
 '2019-07-27T00:00:00.000000000' '2019-07-28T00:00:00.000000000'
 '2019-07-29T00:00:00.000000000' '2019-07-30T00:00:00.000000000'
 '2019-07-31T00:00:00.000000000' '2019-08-01T00:00:00.000000000'
 '2019-08-02T00:00:00.000000000' '2019-08-03T00:00:00.000000000'
 '2019-08-04T00:00:00.000000000' '2019-08-05T00:00:00.000000000'
 '2019-08-06T00:00:00.000000000' '2019-08-07T00:00:00.000000000'
 '2019-08-08T00:00:00.000000000' '2019-08-09T00:00:00.000000000'
 '2019-08-10T00:00:00.000000000' '2019-08-11T00:00:00.000000000'
 '2019-08-12T00:00:00.000000000' '2019-08-13T00:00:00.000000000'
 '2019-08-14T00:00:00.000000000' '2019-08-15T00:00:00.000000000'
 '2019-08-16T00:00:00.000000000' '2019-08-17T00:00:00.000000000'
 '2019-08-18T00:00:00.000000000' '2019-08-19T00:00:00.000000000'
 '2019-08-20T00:00:00.000000000' '2019-08-22T00:00:00.000000000'
 '2019-08-23T00:00:00.000000000' '2019-08-24T00:00:00.000000000'
 '2019-08-25T00:00:00.000000000' '2019-08-26T00:00:00.000000000'
 '2019-08-27T00:00:00.000000000' '2019-08-28T00:00:00.000000000'
 '2019-08-29T00:00:00.000000000' '2019-08-30T00:00:00.000000000'
 '2019-08-31T00:00:00.000000000' '2019-09-01T00:00:00.000000000'
 '2019-09-02T00:00:00.000000000' '2019-09-03T00:00:00.000000000'
 '2019-09-04T00:00:00.000000000' '2019-09-05T00:00:00.000000000'
 '2019-09-06T00:00:00.000000000' '2019-09-07T00:00:00.000000000'
 '2019-09-08T00:00:00.000000000' '2019-09-09T00:00:00.000000000'
 '2019-09-10T00:00:00.000000000' '2019-09-11T00:00:00.000000000'
 '2019-09-12T00:00:00.000000000' '2019-09-13T00:00:00.000000000'
 '2019-09-14T00:00:00.000000000' '2019-09-15T00:00:00.000000000'
 '2019-09-16T00:00:00.000000000' '2019-09-17T00:00:00.000000000'
 '2019-09-18T00:00:00.000000000' '2019-09-19T00:00:00.000000000'
 '2019-09-21T00:00:00.000000000' '2019-09-20T00:00:00.000000000'
 '2019-09-22T00:00:00.000000000' '2019-09-23T00:00:00.000000000'
 '2019-09-24T00:00:00.000000000' '2019-09-25T00:00:00.000000000'
 '2019-09-26T00:00:00.000000000' '2019-09-27T00:00:00.000000000'
 '2019-09-28T00:00:00.000000000' '2019-09-29T00:00:00.000000000'
 '2019-10-01T00:00:00.000000000' '2019-09-30T00:00:00.000000000'
 '2019-10-02T00:00:00.000000000' '2019-10-03T00:00:00.000000000'
 '2019-10-04T00:00:00.000000000' '2019-10-05T00:00:00.000000000'
 '2019-10-06T00:00:00.000000000' '2019-10-07T00:00:00.000000000'
 '2019-10-08T00:00:00.000000000' '2019-10-10T00:00:00.000000000'
 '2019-10-09T00:00:00.000000000' '2019-10-11T00:00:00.000000000'
 '2019-10-12T00:00:00.000000000' '2019-10-13T00:00:00.000000000'
 '2019-10-14T00:00:00.000000000' '2019-10-15T00:00:00.000000000'
 '2019-10-17T00:00:00.000000000' '2019-10-18T00:00:00.000000000'
 '2019-10-16T00:00:00.000000000' '2019-10-19T00:00:00.000000000'
 '2019-10-20T00:00:00.000000000' '2019-10-21T00:00:00.000000000'
 '2019-10-22T00:00:00.000000000' '2019-10-23T00:00:00.000000000'
 '2019-10-24T00:00:00.000000000' '2019-10-25T00:00:00.000000000'
 '2019-10-27T00:00:00.000000000' '2019-10-28T00:00:00.000000000'
 '2019-10-29T00:00:00.000000000' '2019-10-26T00:00:00.000000000'
 '2019-10-30T00:00:00.000000000' '2019-10-31T00:00:00.000000000'
 '2019-11-01T00:00:00.000000000' '2019-11-03T00:00:00.000000000'
 '2019-11-02T00:00:00.000000000' '2019-11-04T00:00:00.000000000'
 '2019-11-05T00:00:00.000000000' '2019-11-06T00:00:00.000000000'
 '2019-11-07T00:00:00.000000000' '2019-11-08T00:00:00.000000000'
 '2019-11-09T00:00:00.000000000' '2019-11-10T00:00:00.000000000'
 '2019-11-11T00:00:00.000000000' '2019-11-12T00:00:00.000000000'
 '2019-11-13T00:00:00.000000000' '2019-11-14T00:00:00.000000000'
 '2019-11-15T00:00:00.000000000' '2019-11-16T00:00:00.000000000'
 '2019-11-17T00:00:00.000000000' '2019-11-18T00:00:00.000000000'
 '2019-11-19T00:00:00.000000000' '2019-11-20T00:00:00.000000000'
 '2019-11-22T00:00:00.000000000' '2019-11-23T00:00:00.000000000'
 '2019-11-24T00:00:00.000000000' '2019-11-25T00:00:00.000000000'
 '2019-11-26T00:00:00.000000000' '2019-11-27T00:00:00.000000000'
 '2019-11-28T00:00:00.000000000' '2019-11-29T00:00:00.000000000'
 '2019-11-30T00:00:00.000000000' '2019-12-01T00:00:00.000000000'
 '2019-12-02T00:00:00.000000000' '2019-12-03T00:00:00.000000000'
 '2019-12-04T00:00:00.000000000' '2020-06-13T00:00:00.000000000'
 '2020-02-20T00:00:00.000000000' '2020-02-19T00:00:00.000000000'
 '2020-02-22T00:00:00.000000000' '2020-02-21T00:00:00.000000000'
 '2020-02-24T00:00:00.000000000' '2020-02-25T00:00:00.000000000'
 '2020-03-02T00:00:00.000000000' '2020-02-27T00:00:00.000000000'
 '2020-03-04T00:00:00.000000000' '2020-03-05T00:00:00.000000000'
 '2020-03-10T00:00:00.000000000' '2020-03-08T00:00:00.000000000'
 '2020-03-09T00:00:00.000000000' '2020-03-14T00:00:00.000000000'
 '2020-03-15T00:00:00.000000000' '2020-03-13T00:00:00.000000000'
 '2020-03-16T00:00:00.000000000' '2020-03-17T00:00:00.000000000'
 '2020-03-18T00:00:00.000000000' '2020-03-06T00:00:00.000000000'
 '2020-03-19T00:00:00.000000000' '2020-03-20T00:00:00.000000000'
 '2020-03-21T00:00:00.000000000' '2020-03-22T00:00:00.000000000'
 '2020-03-23T00:00:00.000000000' '2020-03-24T00:00:00.000000000'
 '2020-03-25T00:00:00.000000000' '2020-03-26T00:00:00.000000000'
 '2020-03-27T00:00:00.000000000' '2020-03-28T00:00:00.000000000'
 '2020-03-29T00:00:00.000000000' '2020-03-30T00:00:00.000000000'
 '2020-03-31T00:00:00.000000000' '2020-04-01T00:00:00.000000000'
 '2020-04-02T00:00:00.000000000' '2020-03-07T00:00:00.000000000'
 '2020-04-03T00:00:00.000000000' '2020-04-04T00:00:00.000000000'
 '2020-04-05T00:00:00.000000000' '2020-04-06T00:00:00.000000000'
 '2020-04-07T00:00:00.000000000' '2020-04-08T00:00:00.000000000'
 '2020-04-09T00:00:00.000000000' '2020-04-10T00:00:00.000000000'
 '2020-04-11T00:00:00.000000000' '2020-04-12T00:00:00.000000000'
 '2020-04-13T00:00:00.000000000' '2020-04-14T00:00:00.000000000'
 '2020-04-15T00:00:00.000000000' '2020-04-16T00:00:00.000000000'
 '2020-04-17T00:00:00.000000000' '2020-04-18T00:00:00.000000000'
 '2020-04-19T00:00:00.000000000' '2020-04-20T00:00:00.000000000'
 '2020-04-21T00:00:00.000000000' '2020-04-22T00:00:00.000000000'
 '2020-04-23T00:00:00.000000000' '2020-04-24T00:00:00.000000000'
 '2020-04-25T00:00:00.000000000' '2020-04-26T00:00:00.000000000'
 '2020-04-27T00:00:00.000000000' '2020-04-28T00:00:00.000000000'
 '2020-04-29T00:00:00.000000000' '2020-04-30T00:00:00.000000000'
 '2020-05-01T00:00:00.000000000' '2020-05-02T00:00:00.000000000'
 '2020-05-03T00:00:00.000000000' '2020-05-04T00:00:00.000000000'
 '2020-05-05T00:00:00.000000000' '2020-05-06T00:00:00.000000000'
 '2020-05-07T00:00:00.000000000' '2020-05-08T00:00:00.000000000'
 '2020-05-09T00:00:00.000000000' '2020-05-10T00:00:00.000000000'
 '2020-05-11T00:00:00.000000000' '2020-05-12T00:00:00.000000000'
 '2020-05-13T00:00:00.000000000' '2020-05-14T00:00:00.000000000'
 '2020-05-15T00:00:00.000000000' '2020-05-16T00:00:00.000000000'
 '2020-05-17T00:00:00.000000000' '2020-05-18T00:00:00.000000000'
 '2020-05-19T00:00:00.000000000' '2020-05-20T00:00:00.000000000'
 '2020-05-21T00:00:00.000000000' '2020-05-22T00:00:00.000000000'
 '2020-05-23T00:00:00.000000000' '2020-05-24T00:00:00.000000000'
 '2020-05-25T00:00:00.000000000' '2020-05-26T00:00:00.000000000'
 '2020-05-27T00:00:00.000000000' '2020-05-28T00:00:00.000000000'
 '2020-05-29T00:00:00.000000000' '2020-05-30T00:00:00.000000000'
 '2020-05-31T00:00:00.000000000' '2020-06-01T00:00:00.000000000'
 '2020-06-02T00:00:00.000000000' '2020-06-03T00:00:00.000000000'
 '2020-06-04T00:00:00.000000000' '2020-06-05T00:00:00.000000000'
 '2020-06-06T00:00:00.000000000' '2020-06-07T00:00:00.000000000'
 '2020-06-08T00:00:00.000000000' '2020-06-09T00:00:00.000000000'
 '2020-06-10T00:00:00.000000000' '2020-06-11T00:00:00.000000000'
 '2020-06-12T00:00:00.000000000' '2020-06-14T00:00:00.000000000'
 '2020-06-15T00:00:00.000000000' '2020-06-16T00:00:00.000000000'
 '2020-06-17T00:00:00.000000000' '2020-06-18T00:00:00.000000000'
 '2020-06-19T00:00:00.000000000' '2020-06-20T00:00:00.000000000'
 '2020-06-21T00:00:00.000000000' '2020-06-22T00:00:00.000000000'
 '2020-06-23T00:00:00.000000000' '2020-06-24T00:00:00.000000000'
 '2020-06-25T00:00:00.000000000' '2020-06-26T00:00:00.000000000'
 '2020-06-27T00:00:00.000000000' '2020-06-28T00:00:00.000000000'
 '2020-06-29T00:00:00.000000000' '2020-06-30T00:00:00.000000000'
 '2020-07-01T00:00:00.000000000' '2020-07-02T00:00:00.000000000'
 '2020-07-03T00:00:00.000000000' '2020-07-04T00:00:00.000000000'
 '2020-07-05T00:00:00.000000000' '2020-07-06T00:00:00.000000000'
 '2020-07-07T00:00:00.000000000' '2020-07-08T00:00:00.000000000'
 '2020-07-09T00:00:00.000000000' '2020-07-10T00:00:00.000000000'
 '2020-07-11T00:00:00.000000000' '2020-07-12T00:00:00.000000000'
 '2020-07-13T00:00:00.000000000' '2020-07-14T00:00:00.000000000'
 '2020-07-15T00:00:00.000000000' '2020-07-16T00:00:00.000000000'
 '2020-07-17T00:00:00.000000000' '2020-07-18T00:00:00.000000000'
 '2020-07-19T00:00:00.000000000' '2020-07-20T00:00:00.000000000'
 '2020-07-21T00:00:00.000000000' '2020-07-22T00:00:00.000000000'
 '2020-07-23T00:00:00.000000000' '2020-07-24T00:00:00.000000000'
 '2020-07-25T00:00:00.000000000' '2020-07-26T00:00:00.000000000'
 '2020-07-27T00:00:00.000000000' '2020-07-28T00:00:00.000000000'
 '2020-07-29T00:00:00.000000000' '2020-07-30T00:00:00.000000000'
 '2020-07-31T00:00:00.000000000' '2020-08-01T00:00:00.000000000'
 '2020-08-02T00:00:00.000000000' '2020-08-03T00:00:00.000000000'
 '2020-08-04T00:00:00.000000000' '2020-08-05T00:00:00.000000000'
 '2020-08-06T00:00:00.000000000' '2020-08-07T00:00:00.000000000'
 '2020-08-08T00:00:00.000000000' '2020-08-09T00:00:00.000000000'
 '2020-08-10T00:00:00.000000000' '2020-08-11T00:00:00.000000000'
 '2020-08-12T00:00:00.000000000' '2020-08-13T00:00:00.000000000'
 '2020-08-14T00:00:00.000000000' '2020-08-15T00:00:00.000000000'
 '2020-08-16T00:00:00.000000000' '2020-08-17T00:00:00.000000000'
 '2020-08-18T00:00:00.000000000' '2020-08-19T00:00:00.000000000'
 '2020-08-20T00:00:00.000000000' '2020-08-21T00:00:00.000000000'
 '2020-08-22T00:00:00.000000000' '2020-08-23T00:00:00.000000000'
 '2020-08-24T00:00:00.000000000' '2020-08-25T00:00:00.000000000'
 '2020-08-26T00:00:00.000000000' '2020-08-27T00:00:00.000000000'
 '2020-08-28T00:00:00.000000000' '2020-08-29T00:00:00.000000000'
 '2020-08-30T00:00:00.000000000' '2020-08-31T00:00:00.000000000'
 '2020-09-01T00:00:00.000000000' '2020-09-02T00:00:00.000000000'
 '2020-09-03T00:00:00.000000000' '2020-09-04T00:00:00.000000000'
 '2020-09-05T00:00:00.000000000' '2020-09-06T00:00:00.000000000'
 '2020-09-07T00:00:00.000000000' '2020-09-08T00:00:00.000000000'
 '2020-09-09T00:00:00.000000000' '2020-09-10T00:00:00.000000000'
 '2020-09-11T00:00:00.000000000' '2020-09-12T00:00:00.000000000'
 '2020-09-13T00:00:00.000000000' '2020-09-14T00:00:00.000000000'
 '2020-09-15T00:00:00.000000000' '2020-09-16T00:00:00.000000000'
 '2020-09-17T00:00:00.000000000' '2020-09-18T00:00:00.000000000'
 '2020-09-19T00:00:00.000000000' '2020-09-20T00:00:00.000000000'
 '2020-09-21T00:00:00.000000000' '2020-09-22T00:00:00.000000000'
 '2020-09-23T00:00:00.000000000' '2020-09-24T00:00:00.000000000'
 '2020-09-25T00:00:00.000000000' '2020-09-26T00:00:00.000000000'
 '2020-09-27T00:00:00.000000000' '2020-09-28T00:00:00.000000000'
 '2020-09-29T00:00:00.000000000']

---Count values unique from column * crash_time * ---:
 ['11:32' '12:05' '18:30' ... '03:14' '03:06' '04:09']

---Count values unique from column * borough * ---:
 ['nan' 'queens' 'bronx' 'manhattan' 'brooklyn' 'staten island']

---Count values unique from column * zip_code * ---:
 [   nan 11004. 10469. 10030. 11433. 11358. 11375. 11369. 11207. 11434.
 11101. 10007. 11230. 11237. 10014. 10301. 11374. 11217. 11367. 11215.
 11412. 10457. 11209. 11208. 10001. 10036. 10037. 11223. 11355. 11414.
 10462. 10461. 11228. 10013. 11354. 10309. 10017. 10304. 10460. 11426.
 11429. 11422. 10016. 10018. 10002. 11238. 10453. 10475. 11372. 11105.
 11103. 11106. 10035. 11226. 11210. 11236. 10466. 10470. 10305. 11201.
 10468. 10467. 11363. 10032. 10306. 10000. 10463. 11214. 11385. 11420.
 11220. 10011. 10012. 10003. 10456. 11365. 11222. 11356. 11357. 10308.
 11360. 11001. 10472. 11693. 11423. 10314. 11213. 11413. 11233. 11225.
 11368. 11373. 10021. 10451. 10027. 10455. 11235. 11224. 11216. 10028.
 10010. 10128. 10454. 10310. 11435. 11206. 10024. 11436. 11229. 10009.
 11417. 10025. 10022. 11432. 10065. 10075. 10033. 10040. 11370. 10034.
 11415. 10452. 11104. 11221. 11421. 10019. 11234. 11691. 11419. 11219.
 11362. 10023. 10459. 10474. 11428. 11205. 11102. 11697. 11366. 10473.
 11212. 10004. 11203. 11211. 11364. 10119. 11694. 11427. 11377. 10312.
 11218. 10458. 10029. 11232. 10307. 10038. 11361. 10005. 10039. 10471.
 11378. 11379. 11416. 11204. 11692. 10302. 10020. 11411. 10031. 11231.
 10006. 11418. 11239. 10026. 10464. 10465. 11249. 11040. 10172. 10165.
 10278. 11109. 10282. 10154. 10168. 10069. 10121. 10281. 10271. 10123.
 10280. 11430. 10041. 10279. 10103. 10105. 10167. 11005. 10169. 10118.
 11359. 11695. 11251. 10153.]

---Count values unique from column * latitude * ---:
 [       nan 40.7464355 40.8697608 ... 40.693794  40.645958  40.849342 ]

---Count values unique from column * longitude * ---:
 [        nan -73.70379   -73.8448773 ... -74.09847   -73.92901
 -73.85061  ]


In [68]:
garbage_list = ['garba', 'garbage or refuse', 'dump', 'garbage tr']
df["vehicle_type_code1"] = df["vehicle_type_code1"].replace(garbage_list,'garbage_car')
df["vehicle_type_code2"] = df["vehicle_type_code2"].replace(garbage_list,'garbage_car')

trucks_list = ['tow truck / wrecker', 'truck', 'tuck', 'box truck', 'tractor truck diesel',  'tractor truck gasoline',  'tow truck / wrecker', 'pick-up truck', 'tanker', 'beverage truck', 'armored truck', 'van t', 'boxtr', 'tow t', 'tk', 'fdny truck', 'trk']
df["vehicle_type_code1"] = df["vehicle_type_code1"].replace(trucks_list,'truck')
df["vehicle_type_code2"] = df["vehicle_type_code2"].replace(trucks_list,'truck')

df["vehicle_type_code1"].replace(['schoo', 'school bus'],'school_vehicle')
df["vehicle_type_code2"] = df["vehicle_type_code2"].replace(['schoo', 'school bus'],'school_vehicle')

df["vehicle_type_code1"] = df["vehicle_type_code1"].replace(['taxi', 'chassis cab', 'pedicab'],'taxi')
df["vehicle_type_code1"] = df["vehicle_type_code2"].replace(['taxi', 'chassis cab', 'pedicab'],'taxi')

wagon_list = ['sport utility / station wagon', 'station wagon/sport utility vehicle', 'station_wagon', 'sedan', 'lunch wagon']
df["vehicle_type_code1"] = df["vehicle_type_code1"].replace(wagon_list,'station_wagon')
df["vehicle_type_code1"] = df["vehicle_type_code2"].replace(wagon_list,'station_wagon')

campers_list = ['motorized home', 'van camper', 'rv', 'pickup with mounted camper', 'mobil']
df["vehicle_type_code1"] = df["vehicle_type_code1"].replace(campers_list,'camper_van')
df["vehicle_type_code2"] = df["vehicle_type_code2"].replace(campers_list,'camper_van')

ambulance_list=['ambulance','flat rackambul','school busbulk agriculturetowerselfambtruckfirewhitee-350','ambu','white ambu','fdny ambul','nyc ambula','ambulence','truck flattractor trgen  ambuldeliverydrill rigtruck van','ambulace','leased amb']
df["vehicle_type_code1"] = df["vehicle_type_code1"].replace(ambulance_list,'ambulance')
df["vehicle_type_code2"] = df["vehicle_type_code2"].replace(ambulance_list,'ambulance')

bike_list=['bike', 'motorbikedelv', 'minibike', 'e-bike', 'dirt bike', 'e bike']
df["vehicle_type_code1"] = df["vehicle_type_code1"].replace(bike_list,'bike')
df["vehicle_type_code2"] = df["vehicle_type_code2"].replace(bike_list,'bike')

back_list=['back', 'backh', 'back hoe', 'backhoe']
df["vehicle_type_code1"] = df["vehicle_type_code1"].replace(back_list,'backhoe')
df["vehicle_type_code2"] = df["vehicle_type_code2"].replace(back_list,'backhoe')

box_list=['box truck', 'box t', 'boxtr', 'box']
df["vehicle_type_code1"] = df["vehicle_type_code1"].replace(box_list,'boxtruck')
df["vehicle_type_code2"] = df["vehicle_type_code2"].replace(box_list,'boxtruck')

bob_list=['bobca', 'bobcat for']
df["vehicle_type_code1"] = df["vehicle_type_code1"].replace(bob_list,'bobcat')
df["vehicle_type_code2"] = df["vehicle_type_code2"].replace(bob_list,'bobcat')

cat_list=['cat.','cat']
df["vehicle_type_code1"] = df["vehicle_type_code1"].replace(cat_list,'cat')
df["vehicle_type_code2"] = df["vehicle_type_code2"].replace(cat_list,'cat')

deliver_list=['motorbikedelv', 'deliv', 'freig delv', 'delivery t', 'delivery v', 'truck flattractor trgen  ambuldeliverydrill rigtruck van']
df["vehicle_type_code1"] = df["vehicle_type_code1"].replace(deliver_list,'delivery')
df["vehicle_type_code2"] = df["vehicle_type_code2"].replace(deliver_list,'delivery')

#control
get_column_names = df.columns
for i in range(len(get_column_names)):    
    print(f'---Count values unique from column * {df.columns[i]} * ---: \n {df[df.columns[i]].unique()} \n')

---Count values unique from column * crash_date * ---:
 ['2013-05-05T00:00:00.000000000' '2013-04-19T00:00:00.000000000'
 '2013-04-24T00:00:00.000000000' '2013-04-29T00:00:00.000000000'
 '2013-04-10T00:00:00.000000000' '2013-10-15T00:00:00.000000000'
 '2013-04-13T00:00:00.000000000' '2013-04-16T00:00:00.000000000'
 '2013-04-21T00:00:00.000000000' '2014-10-17T00:00:00.000000000'
 '2013-04-23T00:00:00.000000000' '2013-03-23T00:00:00.000000000'
 '2013-03-24T00:00:00.000000000' '2013-04-14T00:00:00.000000000'
 '2013-04-22T00:00:00.000000000' '2013-05-04T00:00:00.000000000'
 '2015-04-20T00:00:00.000000000' '2015-04-22T00:00:00.000000000'
 '2015-04-27T00:00:00.000000000' '2015-05-06T00:00:00.000000000'
 '2015-05-15T00:00:00.000000000' '2015-05-16T00:00:00.000000000'
 '2015-05-21T00:00:00.000000000' '2015-06-01T00:00:00.000000000'
 '2015-06-09T00:00:00.000000000' '2015-06-17T00:00:00.000000000'
 '2015-06-18T00:00:00.000000000' '2015-06-22T00:00:00.000000000'
 '2015-06-23T00:00:00.000000000' '2015-06-24T00:00:00.000000000'
 '2015-06-25T00:00:00.000000000' '2015-06-26T00:00:00.000000000'
 '2015-06-27T00:00:00.000000000' '2015-06-30T00:00:00.000000000'
 '2015-07-02T00:00:00.000000000' '2015-07-01T00:00:00.000000000'
 '2015-07-03T00:00:00.000000000' '2015-07-23T00:00:00.000000000'
 '2015-07-25T00:00:00.000000000' '2015-07-31T00:00:00.000000000'
 '2015-08-03T00:00:00.000000000' '2015-11-18T00:00:00.000000000'
 '2015-11-21T00:00:00.000000000' '2015-11-24T00:00:00.000000000'
 '2015-11-27T00:00:00.000000000' '2015-11-28T00:00:00.000000000'
 '2015-12-01T00:00:00.000000000' '2015-11-30T00:00:00.000000000'
 '2015-12-05T00:00:00.000000000' '2015-12-08T00:00:00.000000000'
 '2015-12-06T00:00:00.000000000' '2015-12-09T00:00:00.000000000'
 '2015-12-12T00:00:00.000000000' '2017-04-14T00:00:00.000000000'
 '2017-04-15T00:00:00.000000000' '2017-04-16T00:00:00.000000000'
 '2017-04-17T00:00:00.000000000' '2017-04-18T00:00:00.000000000'
 '2017-04-19T00:00:00.000000000' '2017-04-20T00:00:00.000000000'
 '2017-04-21T00:00:00.000000000' '2017-04-22T00:00:00.000000000'
 '2017-04-23T00:00:00.000000000' '2017-04-24T00:00:00.000000000'
 '2017-04-25T00:00:00.000000000' '2017-04-26T00:00:00.000000000'
 '2017-04-27T00:00:00.000000000' '2017-04-28T00:00:00.000000000'
 '2017-04-29T00:00:00.000000000' '2017-04-30T00:00:00.000000000'
 '2017-05-01T00:00:00.000000000' '2017-05-02T00:00:00.000000000'
 '2017-05-03T00:00:00.000000000' '2017-05-04T00:00:00.000000000'
 '2017-05-05T00:00:00.000000000' '2017-05-06T00:00:00.000000000'
 '2017-05-07T00:00:00.000000000' '2017-05-08T00:00:00.000000000'
 '2017-05-09T00:00:00.000000000' '2017-05-10T00:00:00.000000000'
 '2017-06-09T00:00:00.000000000' '2017-06-26T00:00:00.000000000'
 '2017-06-27T00:00:00.000000000' '2017-06-29T00:00:00.000000000'
 '2017-06-28T00:00:00.000000000' '2017-07-08T00:00:00.000000000'
 '2017-07-09T00:00:00.000000000' '2017-07-10T00:00:00.000000000'
 '2017-07-12T00:00:00.000000000' '2017-07-13T00:00:00.000000000'
 '2017-07-05T00:00:00.000000000' '2017-07-16T00:00:00.000000000'
 '2017-07-14T00:00:00.000000000' '2017-07-18T00:00:00.000000000'
 '2017-09-03T00:00:00.000000000' '2017-09-02T00:00:00.000000000'
 '2017-09-04T00:00:00.000000000' '2017-09-05T00:00:00.000000000'
 '2017-09-06T00:00:00.000000000' '2017-09-07T00:00:00.000000000'
 '2017-09-08T00:00:00.000000000' '2017-09-10T00:00:00.000000000'
 '2017-09-09T00:00:00.000000000' '2017-09-11T00:00:00.000000000'
 '2017-09-12T00:00:00.000000000' '2018-02-07T00:00:00.000000000'
 '2018-02-08T00:00:00.000000000' '2018-02-10T00:00:00.000000000'
 '2018-02-11T00:00:00.000000000' '2018-02-09T00:00:00.000000000'
 '2018-02-12T00:00:00.000000000' '2018-02-13T00:00:00.000000000'
 '2018-02-14T00:00:00.000000000' '2018-02-15T00:00:00.000000000'
 '2018-02-16T00:00:00.000000000' '2018-02-17T00:00:00.000000000'
 '2018-02-19T00:00:00.000000000' '2018-02-18T00:00:00.000000000'
 '2018-02-20T00:00:00.000000000' '2018-02-21T00:00:00.000000000'
 '2018-02-23T00:00:00.000000000' '2018-02-25T00:00:00.000000000'
 '2018-02-24T00:00:00.000000000' '2018-02-27T00:00:00.000000000'
 '2018-02-28T00:00:00.000000000' '2018-03-03T00:00:00.000000000'
 '2018-03-07T00:00:00.000000000' '2018-03-08T00:00:00.000000000'
 '2018-03-09T00:00:00.000000000' '2018-03-14T00:00:00.000000000'
 '2018-03-12T00:00:00.000000000' '2018-03-15T00:00:00.000000000'
 '2018-03-16T00:00:00.000000000' '2018-03-17T00:00:00.000000000'
 '2018-03-19T00:00:00.000000000' '2018-04-19T00:00:00.000000000'
 '2018-04-18T00:00:00.000000000' '2018-04-27T00:00:00.000000000'
 '2018-05-07T00:00:00.000000000' '2018-05-08T00:00:00.000000000'
 '2018-05-13T00:00:00.000000000' '2018-05-15T00:00:00.000000000'
 '2018-05-16T00:00:00.000000000' '2018-05-20T00:00:00.000000000'
 '2018-05-24T00:00:00.000000000' '2018-05-25T00:00:00.000000000'
 '2018-05-28T00:00:00.000000000' '2018-05-29T00:00:00.000000000'
 '2018-06-02T00:00:00.000000000' '2018-06-04T00:00:00.000000000'
 '2018-06-05T00:00:00.000000000' '2018-06-06T00:00:00.000000000'
 '2018-07-15T00:00:00.000000000' '2018-07-14T00:00:00.000000000'
 '2018-07-16T00:00:00.000000000' '2018-07-17T00:00:00.000000000'
 '2018-07-18T00:00:00.000000000' '2018-07-19T00:00:00.000000000'
 '2018-07-20T00:00:00.000000000' '2018-07-22T00:00:00.000000000'
 '2018-07-23T00:00:00.000000000' '2018-07-21T00:00:00.000000000'
 '2019-08-21T00:00:00.000000000' '2019-11-21T00:00:00.000000000'
 '2019-06-16T00:00:00.000000000' '2019-06-15T00:00:00.000000000'
 '2019-06-17T00:00:00.000000000' '2019-06-18T00:00:00.000000000'
 '2019-06-19T00:00:00.000000000' '2019-06-20T00:00:00.000000000'
 '2019-06-21T00:00:00.000000000' '2019-06-22T00:00:00.000000000'
 '2019-06-23T00:00:00.000000000' '2019-06-24T00:00:00.000000000'
 '2019-06-25T00:00:00.000000000' '2019-06-26T00:00:00.000000000'
 '2019-06-27T00:00:00.000000000' '2019-06-28T00:00:00.000000000'
 '2019-06-29T00:00:00.000000000' '2019-06-30T00:00:00.000000000'
 '2019-07-01T00:00:00.000000000' '2019-07-02T00:00:00.000000000'
 '2019-07-03T00:00:00.000000000' '2019-07-04T00:00:00.000000000'
 '2019-07-05T00:00:00.000000000' '2019-07-06T00:00:00.000000000'
 '2019-07-07T00:00:00.000000000' '2019-07-08T00:00:00.000000000'
 '2019-07-09T00:00:00.000000000' '2019-07-10T00:00:00.000000000'
 '2019-07-11T00:00:00.000000000' '2019-07-12T00:00:00.000000000'
 '2019-07-13T00:00:00.000000000' '2019-07-14T00:00:00.000000000'
 '2019-07-15T00:00:00.000000000' '2019-07-16T00:00:00.000000000'
 '2019-07-17T00:00:00.000000000' '2019-07-18T00:00:00.000000000'
 '2019-07-19T00:00:00.000000000' '2019-07-20T00:00:00.000000000'
 '2019-07-21T00:00:00.000000000' '2019-07-22T00:00:00.000000000'
 '2019-07-23T00:00:00.000000000' '2019-07-24T00:00:00.000000000'
 '2019-07-25T00:00:00.000000000' '2019-07-26T00:00:00.000000000'
 '2019-07-27T00:00:00.000000000' '2019-07-28T00:00:00.000000000'
 '2019-07-29T00:00:00.000000000' '2019-07-30T00:00:00.000000000'
 '2019-07-31T00:00:00.000000000' '2019-08-01T00:00:00.000000000'
 '2019-08-02T00:00:00.000000000' '2019-08-03T00:00:00.000000000'
 '2019-08-04T00:00:00.000000000' '2019-08-05T00:00:00.000000000'
 '2019-08-06T00:00:00.000000000' '2019-08-07T00:00:00.000000000'
 '2019-08-08T00:00:00.000000000' '2019-08-09T00:00:00.000000000'
 '2019-08-10T00:00:00.000000000' '2019-08-11T00:00:00.000000000'
 '2019-08-12T00:00:00.000000000' '2019-08-13T00:00:00.000000000'
 '2019-08-14T00:00:00.000000000' '2019-08-15T00:00:00.000000000'
 '2019-08-16T00:00:00.000000000' '2019-08-17T00:00:00.000000000'
 '2019-08-18T00:00:00.000000000' '2019-08-19T00:00:00.000000000'
 '2019-08-20T00:00:00.000000000' '2019-08-22T00:00:00.000000000'
 '2019-08-23T00:00:00.000000000' '2019-08-24T00:00:00.000000000'
 '2019-08-25T00:00:00.000000000' '2019-08-26T00:00:00.000000000'
 '2019-08-27T00:00:00.000000000' '2019-08-28T00:00:00.000000000'
 '2019-08-29T00:00:00.000000000' '2019-08-30T00:00:00.000000000'
 '2019-08-31T00:00:00.000000000' '2019-09-01T00:00:00.000000000'
 '2019-09-02T00:00:00.000000000' '2019-09-03T00:00:00.000000000'
 '2019-09-04T00:00:00.000000000' '2019-09-05T00:00:00.000000000'
 '2019-09-06T00:00:00.000000000' '2019-09-07T00:00:00.000000000'
 '2019-09-08T00:00:00.000000000' '2019-09-09T00:00:00.000000000'
 '2019-09-10T00:00:00.000000000' '2019-09-11T00:00:00.000000000'
 '2019-09-12T00:00:00.000000000' '2019-09-13T00:00:00.000000000'
 '2019-09-14T00:00:00.000000000' '2019-09-15T00:00:00.000000000'
 '2019-09-16T00:00:00.000000000' '2019-09-17T00:00:00.000000000'
 '2019-09-18T00:00:00.000000000' '2019-09-19T00:00:00.000000000'
 '2019-09-21T00:00:00.000000000' '2019-09-20T00:00:00.000000000'
 '2019-09-22T00:00:00.000000000' '2019-09-23T00:00:00.000000000'
 '2019-09-24T00:00:00.000000000' '2019-09-25T00:00:00.000000000'
 '2019-09-26T00:00:00.000000000' '2019-09-27T00:00:00.000000000'
 '2019-09-28T00:00:00.000000000' '2019-09-29T00:00:00.000000000'
 '2019-10-01T00:00:00.000000000' '2019-09-30T00:00:00.000000000'
 '2019-10-02T00:00:00.000000000' '2019-10-03T00:00:00.000000000'
 '2019-10-04T00:00:00.000000000' '2019-10-05T00:00:00.000000000'
 '2019-10-06T00:00:00.000000000' '2019-10-07T00:00:00.000000000'
 '2019-10-08T00:00:00.000000000' '2019-10-10T00:00:00.000000000'
 '2019-10-09T00:00:00.000000000' '2019-10-11T00:00:00.000000000'
 '2019-10-12T00:00:00.000000000' '2019-10-13T00:00:00.000000000'
 '2019-10-14T00:00:00.000000000' '2019-10-15T00:00:00.000000000'
 '2019-10-17T00:00:00.000000000' '2019-10-18T00:00:00.000000000'
 '2019-10-16T00:00:00.000000000' '2019-10-19T00:00:00.000000000'
 '2019-10-20T00:00:00.000000000' '2019-10-21T00:00:00.000000000'
 '2019-10-22T00:00:00.000000000' '2019-10-23T00:00:00.000000000'
 '2019-10-24T00:00:00.000000000' '2019-10-25T00:00:00.000000000'
 '2019-10-27T00:00:00.000000000' '2019-10-28T00:00:00.000000000'
 '2019-10-29T00:00:00.000000000' '2019-10-26T00:00:00.000000000'
 '2019-10-30T00:00:00.000000000' '2019-10-31T00:00:00.000000000'
 '2019-11-01T00:00:00.000000000' '2019-11-03T00:00:00.000000000'
 '2019-11-02T00:00:00.000000000' '2019-11-04T00:00:00.000000000'
 '2019-11-05T00:00:00.000000000' '2019-11-06T00:00:00.000000000'
 '2019-11-07T00:00:00.000000000' '2019-11-08T00:00:00.000000000'
 '2019-11-09T00:00:00.000000000' '2019-11-10T00:00:00.000000000'
 '2019-11-11T00:00:00.000000000' '2019-11-12T00:00:00.000000000'
 '2019-11-13T00:00:00.000000000' '2019-11-14T00:00:00.000000000'
 '2019-11-15T00:00:00.000000000' '2019-11-16T00:00:00.000000000'
 '2019-11-17T00:00:00.000000000' '2019-11-18T00:00:00.000000000'
 '2019-11-19T00:00:00.000000000' '2019-11-20T00:00:00.000000000'
 '2019-11-22T00:00:00.000000000' '2019-11-23T00:00:00.000000000'
 '2019-11-24T00:00:00.000000000' '2019-11-25T00:00:00.000000000'
 '2019-11-26T00:00:00.000000000' '2019-11-27T00:00:00.000000000'
 '2019-11-28T00:00:00.000000000' '2019-11-29T00:00:00.000000000'
 '2019-11-30T00:00:00.000000000' '2019-12-01T00:00:00.000000000'
 '2019-12-02T00:00:00.000000000' '2019-12-03T00:00:00.000000000'
 '2019-12-04T00:00:00.000000000' '2020-06-13T00:00:00.000000000'
 '2020-02-20T00:00:00.000000000' '2020-02-19T00:00:00.000000000'
 '2020-02-22T00:00:00.000000000' '2020-02-21T00:00:00.000000000'
 '2020-02-24T00:00:00.000000000' '2020-02-25T00:00:00.000000000'
 '2020-03-02T00:00:00.000000000' '2020-02-27T00:00:00.000000000'
 '2020-03-04T00:00:00.000000000' '2020-03-05T00:00:00.000000000'
 '2020-03-10T00:00:00.000000000' '2020-03-08T00:00:00.000000000'
 '2020-03-09T00:00:00.000000000' '2020-03-14T00:00:00.000000000'
 '2020-03-15T00:00:00.000000000' '2020-03-13T00:00:00.000000000'
 '2020-03-16T00:00:00.000000000' '2020-03-17T00:00:00.000000000'
 '2020-03-18T00:00:00.000000000' '2020-03-06T00:00:00.000000000'
 '2020-03-19T00:00:00.000000000' '2020-03-20T00:00:00.000000000'
 '2020-03-21T00:00:00.000000000' '2020-03-22T00:00:00.000000000'
 '2020-03-23T00:00:00.000000000' '2020-03-24T00:00:00.000000000'
 '2020-03-25T00:00:00.000000000' '2020-03-26T00:00:00.000000000'
 '2020-03-27T00:00:00.000000000' '2020-03-28T00:00:00.000000000'
 '2020-03-29T00:00:00.000000000' '2020-03-30T00:00:00.000000000'
 '2020-03-31T00:00:00.000000000' '2020-04-01T00:00:00.000000000'
 '2020-04-02T00:00:00.000000000' '2020-03-07T00:00:00.000000000'
 '2020-04-03T00:00:00.000000000' '2020-04-04T00:00:00.000000000'
 '2020-04-05T00:00:00.000000000' '2020-04-06T00:00:00.000000000'
 '2020-04-07T00:00:00.000000000' '2020-04-08T00:00:00.000000000'
 '2020-04-09T00:00:00.000000000' '2020-04-10T00:00:00.000000000'
 '2020-04-11T00:00:00.000000000' '2020-04-12T00:00:00.000000000'
 '2020-04-13T00:00:00.000000000' '2020-04-14T00:00:00.000000000'
 '2020-04-15T00:00:00.000000000' '2020-04-16T00:00:00.000000000'
 '2020-04-17T00:00:00.000000000' '2020-04-18T00:00:00.000000000'
 '2020-04-19T00:00:00.000000000' '2020-04-20T00:00:00.000000000'
 '2020-04-21T00:00:00.000000000' '2020-04-22T00:00:00.000000000'
 '2020-04-23T00:00:00.000000000' '2020-04-24T00:00:00.000000000'
 '2020-04-25T00:00:00.000000000' '2020-04-26T00:00:00.000000000'
 '2020-04-27T00:00:00.000000000' '2020-04-28T00:00:00.000000000'
 '2020-04-29T00:00:00.000000000' '2020-04-30T00:00:00.000000000'
 '2020-05-01T00:00:00.000000000' '2020-05-02T00:00:00.000000000'
 '2020-05-03T00:00:00.000000000' '2020-05-04T00:00:00.000000000'
 '2020-05-05T00:00:00.000000000' '2020-05-06T00:00:00.000000000'
 '2020-05-07T00:00:00.000000000' '2020-05-08T00:00:00.000000000'
 '2020-05-09T00:00:00.000000000' '2020-05-10T00:00:00.000000000'
 '2020-05-11T00:00:00.000000000' '2020-05-12T00:00:00.000000000'
 '2020-05-13T00:00:00.000000000' '2020-05-14T00:00:00.000000000'
 '2020-05-15T00:00:00.000000000' '2020-05-16T00:00:00.000000000'
 '2020-05-17T00:00:00.000000000' '2020-05-18T00:00:00.000000000'
 '2020-05-19T00:00:00.000000000' '2020-05-20T00:00:00.000000000'
 '2020-05-21T00:00:00.000000000' '2020-05-22T00:00:00.000000000'
 '2020-05-23T00:00:00.000000000' '2020-05-24T00:00:00.000000000'
 '2020-05-25T00:00:00.000000000' '2020-05-26T00:00:00.000000000'
 '2020-05-27T00:00:00.000000000' '2020-05-28T00:00:00.000000000'
 '2020-05-29T00:00:00.000000000' '2020-05-30T00:00:00.000000000'
 '2020-05-31T00:00:00.000000000' '2020-06-01T00:00:00.000000000'
 '2020-06-02T00:00:00.000000000' '2020-06-03T00:00:00.000000000'
 '2020-06-04T00:00:00.000000000' '2020-06-05T00:00:00.000000000'
 '2020-06-06T00:00:00.000000000' '2020-06-07T00:00:00.000000000'
 '2020-06-08T00:00:00.000000000' '2020-06-09T00:00:00.000000000'
 '2020-06-10T00:00:00.000000000' '2020-06-11T00:00:00.000000000'
 '2020-06-12T00:00:00.000000000' '2020-06-14T00:00:00.000000000'
 '2020-06-15T00:00:00.000000000' '2020-06-16T00:00:00.000000000'
 '2020-06-17T00:00:00.000000000' '2020-06-18T00:00:00.000000000'
 '2020-06-19T00:00:00.000000000' '2020-06-20T00:00:00.000000000'
 '2020-06-21T00:00:00.000000000' '2020-06-22T00:00:00.000000000'
 '2020-06-23T00:00:00.000000000' '2020-06-24T00:00:00.000000000'
 '2020-06-25T00:00:00.000000000' '2020-06-26T00:00:00.000000000'
 '2020-06-27T00:00:00.000000000' '2020-06-28T00:00:00.000000000'
 '2020-06-29T00:00:00.000000000' '2020-06-30T00:00:00.000000000'
 '2020-07-01T00:00:00.000000000' '2020-07-02T00:00:00.000000000'
 '2020-07-03T00:00:00.000000000' '2020-07-04T00:00:00.000000000'
 '2020-07-05T00:00:00.000000000' '2020-07-06T00:00:00.000000000'
 '2020-07-07T00:00:00.000000000' '2020-07-08T00:00:00.000000000'
 '2020-07-09T00:00:00.000000000' '2020-07-10T00:00:00.000000000'
 '2020-07-11T00:00:00.000000000' '2020-07-12T00:00:00.000000000'
 '2020-07-13T00:00:00.000000000' '2020-07-14T00:00:00.000000000'
 '2020-07-15T00:00:00.000000000' '2020-07-16T00:00:00.000000000'
 '2020-07-17T00:00:00.000000000' '2020-07-18T00:00:00.000000000'
 '2020-07-19T00:00:00.000000000' '2020-07-20T00:00:00.000000000'
 '2020-07-21T00:00:00.000000000' '2020-07-22T00:00:00.000000000'
 '2020-07-23T00:00:00.000000000' '2020-07-24T00:00:00.000000000'
 '2020-07-25T00:00:00.000000000' '2020-07-26T00:00:00.000000000'
 '2020-07-27T00:00:00.000000000' '2020-07-28T00:00:00.000000000'
 '2020-07-29T00:00:00.000000000' '2020-07-30T00:00:00.000000000'
 '2020-07-31T00:00:00.000000000' '2020-08-01T00:00:00.000000000'
 '2020-08-02T00:00:00.000000000' '2020-08-03T00:00:00.000000000'
 '2020-08-04T00:00:00.000000000' '2020-08-05T00:00:00.000000000'
 '2020-08-06T00:00:00.000000000' '2020-08-07T00:00:00.000000000'
 '2020-08-08T00:00:00.000000000' '2020-08-09T00:00:00.000000000'
 '2020-08-10T00:00:00.000000000' '2020-08-11T00:00:00.000000000'
 '2020-08-12T00:00:00.000000000' '2020-08-13T00:00:00.000000000'
 '2020-08-14T00:00:00.000000000' '2020-08-15T00:00:00.000000000'
 '2020-08-16T00:00:00.000000000' '2020-08-17T00:00:00.000000000'
 '2020-08-18T00:00:00.000000000' '2020-08-19T00:00:00.000000000'
 '2020-08-20T00:00:00.000000000' '2020-08-21T00:00:00.000000000'
 '2020-08-22T00:00:00.000000000' '2020-08-23T00:00:00.000000000'
 '2020-08-24T00:00:00.000000000' '2020-08-25T00:00:00.000000000'
 '2020-08-26T00:00:00.000000000' '2020-08-27T00:00:00.000000000'
 '2020-08-28T00:00:00.000000000' '2020-08-29T00:00:00.000000000'
 '2020-08-30T00:00:00.000000000' '2020-08-31T00:00:00.000000000'
 '2020-09-01T00:00:00.000000000' '2020-09-02T00:00:00.000000000'
 '2020-09-03T00:00:00.000000000' '2020-09-04T00:00:00.000000000'
 '2020-09-05T00:00:00.000000000' '2020-09-06T00:00:00.000000000'
 '2020-09-07T00:00:00.000000000' '2020-09-08T00:00:00.000000000'
 '2020-09-09T00:00:00.000000000' '2020-09-10T00:00:00.000000000'
 '2020-09-11T00:00:00.000000000' '2020-09-12T00:00:00.000000000'
 '2020-09-13T00:00:00.000000000' '2020-09-14T00:00:00.000000000'
 '2020-09-15T00:00:00.000000000' '2020-09-16T00:00:00.000000000'
 '2020-09-17T00:00:00.000000000' '2020-09-18T00:00:00.000000000'
 '2020-09-19T00:00:00.000000000' '2020-09-20T00:00:00.000000000'
 '2020-09-21T00:00:00.000000000' '2020-09-22T00:00:00.000000000'
 '2020-09-23T00:00:00.000000000' '2020-09-24T00:00:00.000000000'
 '2020-09-25T00:00:00.000000000' '2020-09-26T00:00:00.000000000'
 '2020-09-27T00:00:00.000000000' '2020-09-28T00:00:00.000000000'
 '2020-09-29T00:00:00.000000000']

---Count values unique from column * crash_time * ---:
 ['11:32' '12:05' '18:30' ... '03:14' '03:06' '04:09']

---Count values unique from column * borough * ---:
 ['nan' 'queens' 'bronx' 'manhattan' 'brooklyn' 'staten island']

---Count values unique from column * zip_code * ---:
 [   nan 11004. 10469. 10030. 11433. 11358. 11375. 11369. 11207. 11434.
 11101. 10007. 11230. 11237. 10014. 10301. 11374. 11217. 11367. 11215.
 11412. 10457. 11209. 11208. 10001. 10036. 10037. 11223. 11355. 11414.
 10462. 10461. 11228. 10013. 11354. 10309. 10017. 10304. 10460. 11426.
 11429. 11422. 10016. 10018. 10002. 11238. 10453. 10475. 11372. 11105.
 11103. 11106. 10035. 11226. 11210. 11236. 10466. 10470. 10305. 11201.
 10468. 10467. 11363. 10032. 10306. 10000. 10463. 11214. 11385. 11420.
 11220. 10011. 10012. 10003. 10456. 11365. 11222. 11356. 11357. 10308.
 11360. 11001. 10472. 11693. 11423. 10314. 11213. 11413. 11233. 11225.
 11368. 11373. 10021. 10451. 10027. 10455. 11235. 11224. 11216. 10028.
 10010. 10128. 10454. 10310. 11435. 11206. 10024. 11436. 11229. 10009.
 11417. 10025. 10022. 11432. 10065. 10075. 10033. 10040. 11370. 10034.
 11415. 10452. 11104. 11221. 11421. 10019. 11234. 11691. 11419. 11219.
 11362. 10023. 10459. 10474. 11428. 11205. 11102. 11697. 11366. 10473.
 11212. 10004. 11203. 11211. 11364. 10119. 11694. 11427. 11377. 10312.
 11218. 10458. 10029. 11232. 10307. 10038. 11361. 10005. 10039. 10471.
 11378. 11379. 11416. 11204. 11692. 10302. 10020. 11411. 10031. 11231.
 10006. 11418. 11239. 10026. 10464. 10465. 11249. 11040. 10172. 10165.
 10278. 11109. 10282. 10154. 10168. 10069. 10121. 10281. 10271. 10123.
 10280. 11430. 10041. 10279. 10103. 10105. 10167. 11005. 10169. 10118.
 11359. 11695. 11251. 10153.]

---Count values unique from column * latitude * ---:
 [       nan 40.7464355 40.8697608 ... 40.693794  40.645958  40.849342 ]

---Count values unique from column * longitude * ---:
 [        nan -73.70379   -73.8448773 ... -74.09847   -73.92901
 -73.85061  ]


In [69]:
# Clean text in each column:
#look at the list[text] to find if there are "duplicated"

# df['contributing_factor_vehicle_1']
# df['contributing_factor_vehicle_2']

# df['vehicle_type_code1']
#vehicle_type_code1_list = df['vehicle_type_code1'].to_list()
#vehicle_type_code1_list = vehicle_type_code1_list.sort()
#print(vehicle_type_code1_list)
vehicle_type_code1_list = ['passenger vehicle', 'sport utility / station wagon', 'other', 'van', 'bus',
 'motorcycle', 'ambulance', 'pick-up truck', 'taxi','small com veh(4 tires)',
 'sedan','station wagon/sport utility vehicle', 'garbage or refuse',
 'box truck', 'nan', 'rv', 'bike', 'tractor truck diesel', 'pk' 'moped', 'dump',
 'convertible', 'tractor truck gasoline', 'flat bed', 'pas', 'motorbike'
 'delv', 'util', 'mack', 'tow truck / wrecker', 'posta', 'lift boom', 'deliv',
 'concrete mixer', 'winne', 'carry all', 'flat rack' 'ambul', 'tract',
 'beverage truck', 'refg', '4d', '4 dr sedan', 'van camper', 'bobca',
 'refrigerated van', 'box t', 'motorscooter', 'tanker', 'unkno', '4ds', 'com',
 'armored truck', 'ladder 34', 'chassis cab', '2 dr sedan' '3-door',
 'school bus' 'bulk agriculture' 'tower' 'self' 'amb' 'truck' 'fire'
 'white' 'e-350', 'p/sh', 'comm.', 'btm', 'minibike', 'scoot', 'stake or rack',
 'minicycle', 'trac' 'trail', 'open body',
 'enclosed body - nonremovable enclosure', 'us po', 'usps', 'schoo', 'bulld',
 'range', 'mta', 'ambu', 'well driller', 'picku', 'appor', 'stree', 'fdny',
 'lunch wagon', 'multi-wheeled vehicle', 'excav', 'nys a', 'firet', 'dirt'
 'tow t', 'bs', 'elect', 'mta b', 'e-bik', 'e-sco', 'tow truck', 'uhaul', 'trl',
 'back', 'golf', 'towtr', 'sprin', 'trk', 'utili', 'tk', 'fork', 'city', 'power',
 'van t', 'mobil', 'pick-', 'vespa', 'limou', 'e bik', 'mini', 'comme' 'trlr',
 'motorized home' 'cont' 'pickup with mounted camper' 'g spc' 'polic'
 'wineb', 'ltr', 'parce', 'forkl', 'limo', 'hi ta', 'boxtr', 'pedicab', '35 ft',
 'ut', 'backh', 'cat.', 'pu', 'const', 'prks', 'rmp v', 'paylo', 'e450', 'e-bike',
 'flat', 'fdny truck', 'usps posta', 'firetruck', 'dirt bike', 'freight tr',
 'white ambu', 'freig delv', 'pc', 'utility.', 'mail truck', 'e-scooter',
 'usps truck', 'fire truck', 'postal tru', 'commercial', 'golf cart',
 'fdny fire', 'fdny ambul', 'enclosed body - removable enclosure', 'work van',
 'e bike', 'lcomm', 'freig', 'government', 'subn whi', 'pick up tr'
 'pick-up tr' 'e skate bo' 'pick up' 'flatbed' 'camper tra' 'trailer' '0'
 'hrse', 'ems', 'back hoe', 'chevrolet', 'light trai', 'fusion', 'cargo van',
 'f-250', 'fork lift','unk', 'trc', 'postal bus', 'forklift', 'nyc fd',
 'f150xl pic', 'mechanical', 'nyc ambula', 'fire engin', 'mta bus', 'unknown',
 'elec. unic', '1c', 'delivery t', 'cat', 'gator', 'fdny engin', 'j1',
 'chevy expr', 'fd ladder', 'electric s', 'bobcat for', 'freight', 'scooter',
 'e revel sc', 'ford sprin', 'ups truck', 'slingshot', 'wh ford co',
 'road sweep', 'horse', 'dot equipm', 'delivery v', 'utility ve', 'bucket tru',
 'backhoe', 'tractor', 'moving van', 'ambulence', 'unkn', '18 wheeler',
 'usps van', 'garbage tr', 'motor scoo', 'livestock rack', 'abulance',
 'freight fl', 'fdny #226', 'go kart', 'cross', 'food truck', 'john deere',
 'dump truck', 'front-load', 'suburban', 'oth', 'motorscoot', 'pumper',
 'truck flat' 'tractor tr' 'gen  ambul' 'delivery' 'drill rig' 'truck van',
 'psd', 'courier', 'swt', 'dilevery t', 'lawnmower', 'ford van', 'dark color',
 'skateboard', 'message si', 'suv', 'power shov', 'ambulace' ,'forlift',
 'fdny ems' ,'utility', 'leased amb', 'smart car', 'usps/govt', 'flatbed fr',
 'can', 'motor skat', 'e-unicycle', 'cement tru' ,'firtruck', 'almbulance',
 'f550', 'fdny ladde', 'box'] 
 
list_same_string=[car for car in vehicle_type_code1_list if 'bob' in car.lower()]
print(list_same_string)

'''
for car in list_same_string:
    if (df['vehicle_type_code1']== car):
        df['vehicle_type_code1'] = 'ambulance'
'''

['bobca', 'bobcat for']

"\nfor car in list_same_string:\n    if (df['vehicle_type_code1']== car):\n        df['vehicle_type_code1'] = 'ambulance'\n"

In [70]:
#write dataFrame to csv: 1st version
df.to_csv('data_clean_GOOD.csv')